[2019-10-20 16:00] hoelzer opened #1 "Change whole workflow syntax to DSL2"
@MarieLataretu I changed the syntax of one process (trimming) to the DSL syntax using modules. I hope this can serve as an example. Otherwise, also see this repository for example:

https://github.com/hoelzer-lab/treat

I think with DSL activated now the workflow does not execute the other processes. The idea is to rewrite the processes that we already have as modules and then continue to extend t

[2019-10-30 17:39] MarieLataretu opened #3 "scripts dir in config"
definde the scripts directory in the config

[2019-10-31 11:29] MarieLataretu opened #4 "deseq2.R ends with exit staus 1"
deseq2.R ends with exit staus 1:

[code]

[2019-10-31 17:24] hoelzer commented on #4
Maybe it is also a good idea to reduce the deseq2.R script to a minimum of code and get this running first? And then adding more and more functionality.

[2019-11-01 11:00] #3 closed

[2019-11-01 15:36] #4 closed

[2019-11-01 15:39] MarieLataretu opened #5 "Make the DEseq2 script configurable"
### Make the DEseq2 script configurable:

- declare conditions
- comparisons to perform
- patients vector
- ...

[2019-11-01 15:41] MarieLataretu commented on #4
The entire script works now as it is. We can discuss enhancements for DEseq2 here #5

[2019-11-01 16:05] MarieLataretu opened #6 "Add k-mer based mapper"
- e.g. Salmon

[2019-11-01 16:06] MarieLataretu opened #7 "Add sleuth as DEseq2 alternative"
[https://pachterlab.github.io/sleuth_walkthroughs/trapnell/analysis.html](url)

[2019-11-01 17:05] hoelzer commented on #5
Maybe it makes sense to define one input CSV file, something like

SampleID,R1,R2,Condition,Label,Level,Patient

Then for each execution of the pipeline it is immediately clear what was the full input from a single table.

Only how to include the comparisons here remains an open question.

But I am also fine with two files:

* read input
* diffexpr input

It will be also good to have a somehow gen

[2019-11-02 15:31] hoelzer opened #8 "Pathway analysis"
The people always want subsequent pathway analysis of the DEGs.

I used the

* Piano R package

for this sometimes. What I really like is

* WebGestalt

that we can maybe also use locally?

The identified GO terms could then be visualized with

* Revigo

It might be also worth to check current literature for new tools performing GSEA or pathway detection based on DEGs.

[2019-11-04 11:34] hoelzer opened #9 "Morpheus heatmap improvement"
https://software.broadinstitute.org/morpheus/

[2019-11-04 11:43] hoelzer opened #10 "Representation of overlapping Sets, upsetr"
https://github.com/hms-dbmi/UpSetR

Cool instead of Venn diagrams

[2019-11-04 12:30] MarieLataretu commented on #1
This is basically done with commit [b34ad7d2044879958935d764986c453286513e36](https://github.com/hoelzer-lab/rnaseq/commit/b34ad7d2044879958935d764986c453286513e36#diff-28b7bea57b04f15beeb4c1de0ee78382), rigth?

[2019-11-04 12:56] hoelzer commented on #1
yeap

[2019-11-04 12:56] #1 closed

[2019-11-07 20:21] hoelzer opened #11 "Input file order for DESeq2"
@MarieLataretu please make sure that all the input files are in correct order. I just did a test run and

[code]

shows me first rep2 and then rep1 of mock. This is no problem at all if also the correct read counts are associated with each label all the time. If you think everything is fine, close this.

[2019-11-07 20:32] hoelzer opened #12 "TPM filter"
we should calculate TPM values and filter for them automatically. We could calculate them based on the featurecounts output and only pass genes to DESeq that have a TPM >= 1.

Suggestion:

* calculate TPM values for each gene of each individual sample
* calculate mean TPM values for each gene over all replicates
* if at least one mean TPM value is >= 1 (could be a parameter of the workflow) keep t

[2019-11-07 21:21] hoelzer commented on #11
ok, I just saw that the produced command looks like:

[code]

so that should be super fine!

[2019-11-07 21:21] #11 closed

[2019-11-07 22:12] hoelzer opened #13 "generalize refactor_reportingtools_table.rb"
I included this script that extends the ReportingTools output table by start/stop positions and gene names. However, the script has some code parts that depend on the input species.

[code]

[code]

In this example the script works for the input

[code]

I think we have two options:

# A
Remove the URL link to Ensembl that changes with species name and try to generalize the ``gene_id = `` part.

#

[2019-11-07 22:54] hoelzer commented on #13
I decided now to implement it like this for now:

[code]

If we add new species, we have to simply extend this. Not the best solution, but works for now.

[2019-11-07 22:56] hoelzer opened #14 "ssconvert alternative"
In the deseq2.R script ``ssconvert`` is used to convert a CSV to XLSX. I had a rough look but there seems to be no conda env for this linux command. Maybe we find an alternative? XLSX always nice for cooperation partners :)

[code]

For now, I commented the lines.

[2019-11-07 22:57] hoelzer commented on #14
also the

``improve_deseq_table.rb``

script has such a command:

[code]

[2019-11-08 14:27] replikation opened #15 "File input check"
* small suggestion to improve input handling via CSV's
* your current code (see also here: [line-link](https://github.com/hoelzer-lab/rnaseq/blob/76d2c40195a57d30bfdddde50be6e9b65f258000/main.nf#L50)):

[code]

suggestion:

[code]

* adding this will check directly while mapping if a file exists and gives you a clear error report if, and what file may be missing

€ can't add labels and stuff

[2019-11-08 17:47] hoelzer commented on #15
ah, thanks for reviewing the code! I added this as suggested

[2019-11-08 17:47] #15 closed

[2019-11-17 09:15] hoelzer opened #16 "Fastqc and multiqc"
Fastqc for reads and multiqc can be used to make a report about

* reads
* mapping w/ hisat2
* featurecounts
*?

[2019-11-17 14:15] hoelzer opened #17 "Final visualization with spark"
https://www.biorxiv.org/content/10.1101/845529v1

[2019-11-27 15:34] MarieLataretu commented on #7
needs [kallisto](https://pachterlab.github.io/kallisto/download.html) for quantification

[2019-11-28 12:59] hoelzer commented on #7
@MarieLataretu ah interesting, thanks for checking this. But actually I also thought about including a _quasi-mapping_ tool next to HISAT so we could also simply add kallisto as a new module and to produce input for sleuth.

But strange that no other input is possible? I thought sleuth might also simply work with a read count matrix produced by any tool?

[2019-11-29 16:53] MarieLataretu commented on #7
Well, I'm not sure, if it would work with data from other tools out of the box.

When creating a sleuth object, the path (!) to the kallisto output for each sample is needed.
The docu of sleuth says

kallisto's output consists of abundance.h5, abundance.tsv and run_info.json, [...]

I think the best is to include kallisto in the pipeline.

[2019-11-30 06:57] hoelzer commented on #7
Ok, thx. Then let's included a Kallisto Module. We can then calculate both

Kallisto-sleuth
Hisat-deseq

And compare. I would be interested in how the "aln-free" performs.

[2019-12-16 14:57] MarieLataretu opened #18 "sortmerna in paired-end mode collects non-RNA reads in one fastq file"
sortmerna in paired-end mode writes all non-RNA reads into one fastq file.

Do we want to use hisat2 with the `-U` parameter (like single-end mode), or should we split the file in `_1`, `_2` and `singletons`?

[2019-12-16 17:07] MarieLataretu opened #19 "Should we accept input with no replicates?"
Should we accept input with no replicates? Or should we let the pipeline run until DESeq2, which complains about it?

[code]

[2019-12-17 11:08] hoelzer commented on #18
ah, I think I remember this problem. And I think there is a script provided by sortmerna to split the fastq file into R1 and R2 again.

Please see here page 14 and following:
https://bioinfo.lifl.fr/RNA/sortmerna/code/SortMeRNA-user-manual-v2.0.pdf

By following the instructions here we should be able to output singletons, R1, and R2 fastq files for the non-rRNA reads and can then use them as inpu

[2019-12-17 11:14] hoelzer commented on #19
I would simply not accept input without replicates (for now). Simply does not make real sense for a DEG study.

In the future we could think about adding DESeq1 instead of DESeq2 that is then used for input w/o replicates (like we did here: https://www.nature.com/articles/srep34589) but still, it should be not the common case.

[2019-12-17 13:21] MarieLataretu commented on #18
ah, nice. I didn't find this information in the GitHub manual.

I set the parameter `--paired_in`:

So if one read of a pair is aligned, both pairs are written to aligned.fasta. In the end we'll get R1 and R2, but no singletons for downstream analysis.

[2019-12-17 13:22] hoelzer commented on #18
yep ok, that's fine!

[2019-12-17 13:25] #18 closed

[2019-12-18 15:24] MarieLataretu commented on #5
Is `levels` a set of conditions in the `deseq2.R` script?
E.g. `conditions = c("mock","mock","mock","treated","treated","treated")`, hence `levels = c("mock", "treated")`.

[2019-12-18 15:25] hoelzer commented on #5
@MarieLataretu exactly!

[2019-12-20 09:30] #19 closed

[2019-12-20 09:31] #5 closed

[2019-12-20 14:17] MarieLataretu commented on #16
I added MultiQC and included fastq, sortmerna, hisat2 and feature counts in commit https://github.com/hoelzer-lab/rnaseq/commit/c80362af3b85a2e5f86167602b78e2f0bda07fd6

open to dos:

- [x] added MultiQC module
- [ ] create custom content for DESeq2
- [ ] rename fastq samples in report ([see doc](https://multiqc.info/docs/#bulk-sample-renaming))
- [ ] create custom config with title, ....

[2020-01-07 08:21] hoelzer opened #20 "dream: Powerful differential expression analysis for repeated measures designs"
https://www.biorxiv.org/content/10.1101/432567v2

Sounds very interesting!

[2020-01-08 08:22] hoelzer opened #21 "Copy Number Variant detection"
https://www.nature.com/articles/s41467-019-13779-x

[2020-01-10 12:39] MarieLataretu commented on #12
I'm not sure, if I understand the filter you would like to apply.
Is it like this:
[code]

Or would one also take into account the 'raw' (not mean) TPM from each sample when filtering?

[2020-01-10 12:43] MarieLataretu commented on #12
Oh, and tpmcalculator needs a BAM file for input.
So I would calculate the TPM by hand, like here https://gist.github.com/slowkow/c6ab0348747f86e2748b#gistcomment-3051443

It is a simple version of the TPM with the length from the featurecounts output

[2020-01-11 09:52] hoelzer commented on #12
I am thinking about this:

[code]

So example:

Samples = {A1, A2, A3, B1, B2, B3}
We have two conditions and three replicates.

Feature A1 A2 A3 B1 B2 B3
X           5    4   8    12  11  12
Y           0    2   0    12  11  12

Now we calculate TPM values for each Sample and feature

Feature A1 A2 A3 B1 B2 B3
X           1.2    1.1   1.6    2.4  2.3  2.4
Y           0    0.02   0    2.4  2.3  2.

[2020-01-11 09:53] hoelzer commented on #12
And I agree, just implement the formula and use the feature-length from featurecounts!

[2020-01-11 23:54] hoelzer opened #22 "Ideal: rnaseq Interactive Tool (r package)"
Sounds interesting for later reference

https://t.co/ZDjV2hgMiB?amp=1

[2020-01-15 10:38] MarieLataretu commented on #12
implemented in commit [2181bd7](https://github.com/hoelzer-lab/rnaseq/commit/2181bd7c3423d5c80c97193d7b4e0bced38da9c1)

[2020-01-15 10:38] #12 closed

[2020-01-15 10:40] hoelzer commented on #12
awesome, thx! So now only TPM filtered features are passed to deseq2?

[2020-01-15 12:04] MarieLataretu commented on #12
yes, exactly!

[2020-01-15 14:41] MarieLataretu opened #23 "Update SortMeRNA"
We should really update the SortMeRNA version, so that we can make use of multi-threading. At least I hope, it'll run faster then.

We have to take care how it works in paired-end mode.

And we need to figure out how to install the tool.

[2020-01-15 15:13] MarieLataretu commented on #23
We could make use of the [Shell script with the embedded installation archive](https://github.com/biocore/sortmerna/blob/master/README.md#using-github-release-binaries-on-linux) and install it in a directory within the pipeline (similar to the database downloads)

[2020-01-15 15:18] hoelzer commented on #23
@MarieLataretu I totally agree. If I remember correctly there were some issues with getting it installed lately?

btw: we can add a ``bin`` folder to the project. scripts that are in the ``bin`` folder can be directly executed from within nextflow processes. Maybe that helps? So we could clone the script you mention above into a ``bin`` folder and use it.

[2020-01-15 15:56] MarieLataretu commented on #23
Currently we are using the version that is available from bioconda (version 2.1b (vs. 4.0.0 @ GitHub)).

I've never tried to install it in a different way; the conda installation works.

Acha, that's nice with the `bin`! So I would write a workflow that downloads and runs the shell script, so that SortMeRNA is installed in the `bin` directory.
Then we should be able to run SortMeRNA in the actual

[2020-01-15 16:05] hoelzer commented on #23
Ok, so maybe we could also ask the authors if they can update the bioconda receipe?

Yes, when we put everything we need into the ``bin`` folder we should be able to simply access it from the sortmerna module.

[2020-01-15 16:13] MarieLataretu commented on #23
Yeah, it's an open issue: https://github.com/biocore/sortmerna/issues/186

It might be worth to update manually for the new data? And when bioconda is up-to-date, we can switch to conda again?

[2020-01-15 16:18] hoelzer commented on #23
you mean simply using the sortmerna that can be installed directly on our system? yeah, agree, we could do that and later switch to the conda recipe when (and if) it becomes available

[2020-01-15 16:23] MarieLataretu commented on #23
I would still include the installation in our workflow, so that the pipeline is somewhat portable resp. has as few requirements as possible.

[2020-01-15 16:30] hoelzer commented on #23
fully agree! and as you said, this can be done similar to a database download I think

[2020-01-28 14:57] #23 closed

[2020-01-28 14:59] MarieLataretu commented on #23
the old version, which is installable via conda, does have a multi-threading option.

[2020-01-28 16:13] MarieLataretu opened #24 "improve `--cores` option"
At the moment ```--cores``` sets the number of cores for each process, which means with ```--cores 20``` and e.g. four hisat2 runs in parallel, one would use 80 cores.

I would like to have a parameter ```--max-cores``` for the maximum number of cores, that are used in total, and  an other parameter or config variable or something to set the cores for each process.

I'm not sure what's the best wa

[2020-01-28 16:34] MarieLataretu commented on #24
[This nextflow pipeline](https://github.com/nf-core/rnaseq) specifies ```max_cpus``` in the config params scope and in the config process scope (see https://github.com/nf-core/rnaseq/blob/master/conf/base.config). In each process ```${task.cpus}``` is used. I assume ```${task.cpus}``` gets the value from the config process scope.

[2020-01-28 21:38] hoelzer commented on #24
Exactly, I think the common way to handle this is

* by defining a ``cpus = params.cores`` in the ``nextflow.config`` file
* by defining the number of CPUs to be used for each process in a separate configuration file

Nextflow should handle how many CPUs are available in total. So let's say I define a process like this

[code]

and run it on a 8 CPU machine, then nextflow will in max start 8 paral

[2020-01-28 22:03] hoelzer commented on #24
I added now a ``configs`` folder that has at the moment two config files: for conda and slurm*. The whole idea is (and the great thing of a workflow manager) that you can distribute the same code on different environments (local, cloud, HPC, ...) by only changing the configuration file. For example, when we later want to run the workflow in the cloud we just add ``-profile slurm``. Thats it.

For

[2020-01-29 13:22] MarieLataretu commented on #24
Aha, thanks!

So now we have the cpu, enviroment and so on in a config file at ```configs```.

Shouldn't we use ```task.cpus``` and not ```params.cores``` in the processes?

I still cannot tell nextflow how many cores should be used in total at maximum, right? I'm not sure, if 'use all cpus that are available on the machine' is that what one wants.

[2020-01-29 15:40] hoelzer commented on #24
correct, this is now controlled via the profiles in the ``configs`` folder.

ohhhh and yes you are right! we need to use now

``task.cpus`` everywhere in the processes! I forgot to change this yesterday evening. Can you do it please?

Hm yes you are right, still you cant set a maximum number of cores. I did not really think about this because I dont care working on a HPC. But in our case, we maybe

[2020-01-29 16:08] MarieLataretu commented on #24
yes, I'll switch to ```task.cpus```!

I'd say maximum mem value can be set with the directive ```memory``` (like ```cpus```):
https://www.nextflow.io/docs/latest/process.html#memory
I didn't test it, though.

Okay, so we have to keep this on mind, when working on our servers.

[2020-01-29 17:54] hoelzer commented on #24
yes great! So I will close this issue for now

[2020-01-29 17:54] #24 closed

[2020-02-28 15:36] MarieLataretu opened #26 "DESeq2 script patients input"
I'm not sure if this is expected behaviour, or if I don't get the `patients` input in the DESeq2 script correctly.

`c("1","1","1","2","2","2")` fails here:

[code]

The complete command:
[code]
---

Same input and command with `c("1","2","3","1","2","3")` as `patient` does not fail

[2020-02-28 15:40] hoelzer commented on #26
That's a long time ago that I needed this ``patient`` variable. For the current study we do not need it, right?

I need to  look this up in an old project (fungi vitamin study it was I think)

[2020-02-28 15:43] MarieLataretu commented on #26
Unless we want to compare replicates, we do not need `patient`.

[2020-04-02 12:18] hoelzer opened #28 "sortmerna version update"
There is now a new version on conda

[code]

so we might want to update the YAML file and adjust the command if necessary.

[2020-05-12 09:04] MarieLataretu opened #31 "compare automatically all conditions"
- conditions in read-input-csv
- default option

[2020-05-12 09:05] MarieLataretu opened #32 "user defined database directory"
for

- sortmeRNA
- auto-species-download

[2020-05-12 09:07] MarieLataretu opened #33 "publish mode"
use default (absolute sym link) for local execution and copy otherwise

[2020-05-12 19:58] hoelzer opened #34 "Alternative trimming/adapter tool"
looks interesting and likely faster than fastp:

https://github.com/hellosunking/Ktrim/

low priority though but worth a module and try

[2020-05-20 14:58] flomock opened #36 "Unknown configuration profile: 'conda'"
- [x] I downloaded rnaseq on Ara using
`nextflow pull hoelzer-lab/rnaseq
`

- [x] tested the help
`nextflow run hoelzer-lab/rnaseq --help`

- [ ] tried the example (adapted the path as shown in hoelzer/clean)
`nextflow run hoelzer-lab/rnaseq --max_cores 6 --cores 2 --reads ~/.nextflow/assets/hoelzer-lab/rnaseq/input.se.eco.csv --species eco --dge ~/.nextflow/assets/hoelzer-lab/rnaseq/input.dge_com

[2020-05-20 16:42] #32 closed

[2020-05-20 16:42] #31 closed

[2020-05-20 16:49] hoelzer commented on #36
Hi, can you please try

[code]

And in addition, I am not sure if nextflow will interpreter your '~/' correctly, I think it's better to write the full path with /home/$USER.

### Background information

On a cluster system you don't need to specify `--cores` or such because the cores and memory that will be used is predefined in the configuration file for the specific cluster environment (in this

[2020-05-20 16:51] MarieLataretu commented on #36
`conda` is used in the standard (default) profile

`-profile standard` does the same as not using `-profile`. This is for local execution (e.g. on dessert).

For ARA `-profile slurm` should work. It also uses `conda`, so make sure you `conda` installed on ARA. You also have to adjust the `nextflow.config` file in the profile/slurm section

[2020-05-20 17:30] MarieLataretu opened #37 "update profiles"
Hi, can you please try

[code]

And in addition, I am not sure if nextflow will interpreter your '~/' correctly, I think it's better to write the full path with /home/$USER.

### Background information

On a cluster system you don't need to specify `--cores` or such because the cores and memory that will be used is predefined in the configuration file for the specific cluster environment (in this

[2020-05-20 17:35] MarieLataretu commented on #36
@flomock Can you run, what Martin suggested? Just to see, if the current version works.

We can discuss the profile issues here #37

[2020-05-20 17:41] MarieLataretu opened #38 "DESeq2 terminated with an error exit status"
for some input DESeq2 fails:
[code]

[2020-05-20 17:43] MarieLataretu commented on #28
we'll use clean instead

[2020-05-20 17:43] #28 closed

[2020-05-20 17:43] #33 closed

[2020-05-20 17:45] MarieLataretu opened #39 "Update and extend README"
- add requirements
- add more examples with different use cases
- ...

[2020-05-20 18:51] MarieLataretu opened #40 "add mmu"

[2020-05-20 19:13] MarieLataretu opened #41 "set cachedir, workdir, ..."
... to make it easy to run on a cluster

[2020-05-20 19:24] #40 closed

[2020-05-21 11:37] hoelzer commented on #37
btw I just tested:

[code]

this is equal to `-profile local,docker`

So in the context of the rnaseq pipeline we can also define a `standard` profile that uses

* `local.config`
* `conda.config`

so that for local execution per default conda will be used and one does not necessarily have to provide `-profile local,conda`

[2020-05-22 10:08] flomock commented on #36
when I do i get a

so i tried
`nextflow pull hoelzer-lab/rnaseq
`

hoelzer-lab/rnaseq contains uncommitted changes -- cannot pull from repository

next i tried
`nextflow drop hoelzer-lab/rnaseq
`

I am not aware of any changes of any kind from my side. A quick googeling didn't really help.

[2020-05-22 11:20] hoelzer commented on #36
It could be a stupid ARA network configuration issue...

You get this mssg because we already implemented the `mmu` as a reference, ... so the master branch has updated.

maybe try

[code]

[2020-05-22 17:04] flomock commented on #36
In my first trie I did simply remove the dir ~/.nextflow/assets/hoelzer-lab/rnaseq
and then `nextflow pull hoelzer-lab/rnaseq` which worked (or it seemed like it)
then as already pointed out by @hoelzer nextflow.config needed to be adapted to $USER

Then i startet the command (see above)
The Output I got:

next I tried the `git clone` version.
This greated some files (including envs/python3.yaml).

[2020-05-24 12:58] hoelzer commented on #36
Okay, thanks for trying this out!

@MarieLataretu I think the first problem is that the paths to the environment conda files are relative... but shouldn't this also work when the launch dir is set to `/home/go96bix/.nextflow/assets/hoelzer-lab`?

The second problem occurs because there is a problem with downloading the databases. @flomock is this working for you:

[code]

? I just want to check if

[2020-05-24 22:40] flomock commented on #36
@hoelzer actually wget does not work on Ara. But i don't think that this is the only problem here. Because before opening this Issue I actually tried the nextflow run command without the -profile (as @MarieLataretu pointed out this automatically used conda) which resulted in an output in which explicitly listed that wget is forbidden. But now this output is missing.

A hotfix could be that the ara

[2020-05-25 07:27] hoelzer commented on #36
Yes, the default profile uses conda but does not know how to submit jobs on a SLURM system. So when you run the default profile on ARA everything will be executed on the login node (or compute node you connected/ submitted the nextflow command). And also some path variables will not be correctly set while using the default profile.

@MarieLataretu maybe we can simply replace all `wget` w/ `curl`?

[2020-05-25 09:10] flomock commented on #36
I replaced wget with curl -O and as expected this was not this "command not found" error (non the less wget would have failed later).

here the log file (hopefully you can extract the line of code which is unknow, i didn't see it)

[2020-05-25 09:43] hoelzer commented on #36
Yeah I think it's Problem with the path were downloaded files are stored.
@marie recently introduced some changes here.

So I think a variable that controls the output path is not correctly set.
And the ara Profile Runs like a cloud environment so the cloud
functionality is used to store databases @marie!

Florian Mock <notifications@github.com> schrieb am Mo., 25. Mai 2020, 11:10:

[2020-05-25 09:43] flomock commented on #36
ok it's getting weird (at least from my perspective)

it seems like dispite the value species is set to eco
the line `if (species == 'eco')` returns False

I added
`    else {
    """
    echo "species not implemented yet"
    echo ${species}
    """
    }`
to the referenceGet.nf file to check for this.

[2020-05-25 10:24] MarieLataretu commented on #36
did you set `species`  in the config or the command line?

[2020-05-25 11:36] hoelzer commented on #36
and I think it must be params.species

Am Mo., 25. Mai 2020 um 12:24 Uhr schrieb MarieLataretu <
notifications@github.com>:

--
Martin Hölzer
Jansonstraße 11
07745 Jena

Phone +49-16092675865

[2020-05-25 14:22] MarieLataretu commented on #36
we moved on to the next error. maybe you have an idea, @hoelzer

if `cloudProcess` is true Nextflow ignores process dependencies:

[code]

tpm_filter should be run AFTER featurecounts

[2020-05-26 08:06] hoelzer opened #44 "Error handling"
In case of too little memory we can automatically increase the RAM using error handling in specific modules.

For example:
[code]

or
[code]

should also work.

[2020-05-26 08:44] #37 closed

[2020-05-26 08:44] #41 closed

[2020-05-26 13:45] MarieLataretu commented on #44
Would you do that for all processes?
Or just something like
```withLabel: hisat2 { cpus = 48 ; memory = { 70.GB * task.attempt } ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' } ```
in the profile/ara/process-section?

[2020-05-26 13:57] hoelzer commented on #44
I would do this for processes where we think that they might fail due to memory issues. Such as hisat2, exactly.

Ahh and great idea! Does this work writing all the error handling directly into the config file? that's really cool to have different error handling depending on the profile that is used

[2020-05-26 14:09] MarieLataretu commented on #44
Yes, it should work! (There is no error, but I didn't have the case of running out of memory, yet.)

Can you shortly explain `errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }`?

[2020-05-26 16:55] MarieLataretu commented on #44
134 is definitively  memory related exit status! (tested with `memory = { 1.GB * task.attempt }` in HISAT2 )

[2020-05-26 19:46] hoelzer commented on #44
ah, great! I think the memory issue codes start with 130... would be great to have a table with all the error codes

[2020-05-26 20:20] MarieLataretu commented on #44
yes, indeed!

Are this the normal bash exit codes? Then see [here](https://www.tldp.org/LDP/abs/html/exitcodes.html#EXITCODESREF) and [here](https://wiki.ubuntuusers.de/Signale/#Erweiterte-Signalliste)

[2020-05-26 20:26] hoelzer commented on #44
good question! I don't know, but thx for the links

[2020-05-27 11:44] #44 closed

[2020-05-27 15:53] flomock opened #46 "fix deseq2 output"
for the conditions comparison
statistics and heatmaps is empty

error seems to occur already in summary.txt

But in fact if I open the RNAseq_analysis_with_DESeq2_full.html and filter for pvalues <0.05 i find over 1000 genes.

[2020-05-27 16:29] hoelzer commented on #46
I think this is something we really need to investigate by going through the deseq2.R script manually and step by step in an interactive R session.

@flomock can you provide the input read count files? and the `.command.sh` file that is used by the deseq2 process? You can find it in the corresponding work directory for the deseq2 process.

With this in hand, we can go through the several steps of

[2020-05-27 17:07] MarieLataretu commented on #36
I think, we can close this issue.

@flomock feel free to open a new issue, if there is a problem!

[2020-05-27 17:07] #36 closed

[2020-05-27 22:32] flomock commented on #46
sorry for the late response. Probably your script is alright in the html table i filtered the p-value but when filtering the adjusted p-value (also kwon as padj, see summary.txt) than nothing is sicnificant. (one gene has a value of ~0.14 and all the rest (over 30k genes) have a adjusted p-value of 1) This result in itself seems pretty sicnificant to me 😀
So the result in summary.txt is the same a

[2020-05-28 08:24] flomock commented on #46
command.sh (/beegfs/rna-hta/go96bix/work/89/9e116d72a3fbd62b9dcc74eda69b37/command.sh)

`#!/bin/bash -ue
R CMD BATCH --no-save --no-restore '--args c(".") c("Berlin_C.alb_rep1.counts.filtered.formated","Berlin_C.alb_rep2.counts.filtered.formated","Berlin_C.alb_rep3.counts.filtered.formated","Berlin_C.alb_rep4.counts.filtered.formated","Berlin_C.alb_rep5.counts.filtered.formated","Berlin_control_re

[2020-05-28 11:52] hoelzer commented on #46
@flomock thx for reporting this. @MarieLataretu is currently also running some test data where we kinda know the significant DEGs. But there are some other errors we need to investigate.

[2020-05-28 12:54] flomock commented on #16
+1 for fastqc reports

[2020-05-28 13:13] hoelzer commented on #16
@MarieLataretu we dont have fastqc included at the moment? should be easy to add

[2020-05-28 16:17] #46 closed

[2020-05-28 16:26] flomock opened #47 "missing implementation of comparison specific output"
In deseq2.R at line 636 the data is filtered to only contain sicnificant genes and then nothing happens.
Line 636 seems to be very usecase specific refering to a ruby script not includetin rnaseq.

Could you please provide either a general version of line 636 and below or implement a simpler version just saving a html, heatmap and csv.

thanks in advance

[2020-05-28 18:05] hoelzer commented on #47
Thanks for reporting this! I will look into this tomorrow @MarieLataretu

[2020-05-28 20:11] MarieLataretu commented on #16
fastqc is not included, but fastp. is there something that fastqc does and fastp not?

[2020-05-28 20:39] hoelzer commented on #16
Fastqc generates some quality Plots but does not do any trimming/Adapter
clipping.

It's low priority, but should be easy to add as a Module. Multiqc just
needs the fastqc output folders.

I have some Code ready so I can add this

MarieLataretu <notifications@github.com> schrieb am Do., 28. Mai 2020,
22:11:

[2020-05-29 08:28] MarieLataretu commented on #16
with fastp we have also important quality plots, but sure, we can simply add fastqc

[2020-05-29 10:55] flomock commented on #47
I already started a bit and will create a pull request with an version with simply all non working features commented out and minor bugs (as wrong input for pca and wrong name of ruby script) fixed.
Thinks I already noticed which need to be adressed and are out of scope for me:
- [ ] missing permission to start improve_deseq_table.rb (simply chmod 777 improve_deseq_table.rb didn't solve this)

- [

[2020-05-29 10:56] flomock commented on #47
Sorry i though i've send this message already yesterday.
Hope now you have at least a bit more context about my pull request

[2020-05-29 13:26] hoelzer commented on #14
@flomock added #51 to solve this

[2020-05-29 14:05] hoelzer opened #53 "Pathway analysis with the Piano R package"
We already have this implemented in the deseq2.R script:

[code]

but to function properly we need a proper BioMart object:

[code]

and to have this we somehow need to know in the R script which species (host) is used. And there seem also differences between the general ensemble and bacteria ensemble.

Luckily, [piano is available from bioconda](https://bioconda.github.io/recipes/bioconductor-pia

[2020-05-29 14:07] #14 closed

[2020-05-29 14:12] hoelzer commented on #47
The `getBM()` method part is actually more difficult because here we need a reference_species-specific BioMart object from ENSEMBL (see #53).

So we need to connect to the correct ENSEMBL FTP based on the provided reference species.

@MarieLataretu, for now, we could think about a `params.biomart = mmusculus` value so that at least we (and experienced users) can activate the functionality.

@flomo

[2020-06-03 15:31] hoelzer commented on #38
@MarieLataretu I checked this in more detail and I was able to reproduce this with the MDA rRNA- data set (Friedemann).

But when I used read count files from the same project that I produced ~1 year ago (with STAR instead of HISAT2) the R scripts and the `publish()` function work.

I was not able to figure out what's the difference between the old read count files and the ones produced by the pip

[2020-06-04 14:18] hoelzer commented on #38
Okay, I think the problem is that even with a p-value threshold of `1` it can happen that the `dds` object has nothing to report and then the plotting function fails. For example:

I added `make.plots = FALSE` to see what happens even w/o any plotting going on.

[code]

I never run into this problem before because I always had at least _something_ to report.

And in the pairwise comparisons, that

[2020-06-04 14:28] hoelzer opened #57 "ReportingTools file output optimization"
This is a follow-up for #38 #56

Currently, we produce __all__ PDF/PNG box plots for all genes (that are the input of the R script and survived the TPM filter) here:

https://github.com/hoelzer-lab/rnaseq/blob/master/bin/deseq2.R#L564

And later on, for the pairwise comparisons that have significant genes (adjusted p 0.05) we do this again:

https://github.com/hoelzer-lab/rnaseq/blob/master/bin/de

[2020-06-04 15:07] hoelzer commented on #57
Okay, it's more complicated because the `make.plots = FALSE` option in the `publish()` function will not only result in no PDFs/PNGs but also in now HTML code.

So we need to refactor the HTML file for each pairwise comparison also by adding the information about the plots. This should be fairly easy by looking at the structure in the _full_ HTML file and then simply add the information according

[2020-06-04 15:22] hoelzer commented on #57
I added some code to do this already to the R and ruby script. The idea is to tell the ruby script that additional information should be added to the table about the plots.

[code]

The additional String `add_plots` results in a `TRUE` value in the ruby script `refactor_reportingtools_table.rb`:

[code]

Now the next step is to use this `$add_plots` switch to add additional information to the tabl

[2020-06-04 16:23] hoelzer commented on #57
Okay, that was a rough journey into R, an unreadable HTML-oneliner, and a 2-year old ruby code.

Now, the `publish()` function is called once for the full data set producing all the plots (except for few genes that... I don't know... don't have any read counts or so... but should be filtered by TPM... anyway).

Then, for the pairwise comparisons the `publish()` function is called w/o the plotting

[2020-06-04 16:29] hoelzer opened #58 "DESeq2 best practice"
We should check that DESeq2 is run in a best possible default way.

For example:

http://bioconductor.org/packages/devel/bioc/vignettes/DESeq2/inst/doc/DESeq2.html#standard-workflow

We might also want to use the `lfcShrink` function.

[2020-06-08 08:25] #38 closed

[2020-06-09 18:00] MarieLataretu commented on #58
I found two things: transformation and log2 fold change shrinkage.

Currently we do this:
[code]
(https://github.com/hoelzer-lab/rnaseq/blob/master/bin/deseq2.R#L465-L466)
For `varianceStabilizingTransformation` we can use the wrapper `vst`.
We might want to use `blind=FLASE`.

(see http://bioconductor.org/packages/devel/bioc/vignettes/DESeq2/inst/doc/DESeq2.html#blind-dispersion-estimation)

---

[2020-06-09 18:25] MarieLataretu commented on #58
ah, and one could create the `DESeqDataSet` with `DESeqDataSetFromMatrix` (instead of `DESeqDataSetFromHTSeqCount`) more directly from `featureCounts` output, if all samples are merged before in one count table. Would also be nice for the TPM filter to have one big table as input, but I see that as low priority right now.

[2020-06-10 11:44] hoelzer commented on #58
Okay

#### transformation

For me, this sounds like

[code]
should be a reasonable default? What is then still not entirely clear to me: do we want to continue then with the `vsd` or `rld` table of transformed values for all the other steps? I think this is in many cases more of a visualization thing because we are using the transformed tables in cases such as

[code]

Maybe using `vsd` consistent

[2020-06-11 13:22] MarieLataretu commented on #58
**transformation**

I'm good with `vsd` as default! I'd change that also in the plotting functions

[2020-06-15 11:58] MarieLataretu opened #62 "optional extended sample infos..."
... to make PCAs great again

[2020-06-15 14:25] flomock opened #63 "sensesful file endings"
in results/featurecounts
current ending .counts
better .tsv or .csv

[2020-06-16 14:44] hoelzer opened #64 "fastp default parameters"
Just copy/pasted from a discussion with @flomock:

Es erscheint mir also sinnvoll das wir -5 -3 auch mit angeben. Eigentlich sollte -3 reichen da die qualitaet ja eigentlich zum Ende hin abflacht. Aber dein Fall illustriert ja gut, das man eben auch 5' nen N oder sowas haben kann (mit low quality) und dann ergibt das -5 auch sinn.

In dem Zusammenhang  @MarieLataretu  koennte man auch ueberlegen p

[2020-06-17 09:42] flomock opened #66 "sorting x-axes boxplot"
[see example from html](https://www.dropbox.com/s/212e03lwmr7718z/boxplot.ENSMUSG00000005413.pdf?dl=0)
my suggestion:
either sort alphabetically
or sort dependent from dge file

[2020-06-17 10:06] hoelzer commented on #66
@flomock yes good point that also was on my list already!

This happens due to the lose of file order within the Nextflow logic.

@MarieLataretu I think we somehow want to mirror the order of the conditions that is provided in the input CSV file down to the DESeq process

[2020-06-17 11:48] hoelzer commented on #63
I will directly change this in a new branch now

[2020-06-17 13:44] hoelzer opened #68 "Write out TPM values"
Currently, TPM values are only calculated internally and not written out.

However, it would be nice to have them for further analyses outside of the pipeline.

[2020-06-17 13:57] #63 closed

[2020-06-17 14:10] MarieLataretu commented on #68
Should we just append a column:
`Geneid	Chr	Start	End	Strand	Length	{sample_name}.sorted.bam	tpm`

or replace `{sample_name}.sorted.bam` with `counts` or something? `{sample_name}.sorted.bam` comes from `featurecounts`

[2020-06-17 14:12] hoelzer commented on #68
You mean that we have both the raw read count and tpm in one file? Good idea and yes, `{sample_name}.sorted.bam` could be replaced by `counts`

[2020-06-18 07:41] #68 closed

[2020-06-18 07:42] #64 closed

[2020-06-18 07:50] MarieLataretu commented on #16
`report_section_order` gets confused, if `SMR` is skipped

[2020-06-22 11:35] hoelzer opened #70 "Remove tRNAs and mitochondrial RNAs from annotation"
tRNAs and mitochondrial RNAs can make up a large proportion of mapped reads and thus bias the normalization and differential gene expression procedure.

For example: "tRNA genes and genes covered by fewer than 10 reads in
all tissues were removed."
(https://www.biorxiv.org/content/10.1101/2020.06.14.150599v1.full.pdf)

I am thinking about the following: optional filter parameters to

* remove cert

[2020-06-24 13:27] MarieLataretu commented on #66
@hoelzer the plots are generated somewhere here, right? https://github.com/hoelzer-lab/rnaseq/blob/ae7edceef54857132eb579a3504a26c6b133ec4a/bin/deseq2.R#L563-L566

[2020-06-24 13:51] hoelzer commented on #66
@MarieLataretu correct, they are generated by `ReportingTools`. I think important is the initial order of the samples when the DESeq object is constructed.

Can we somehow easily maintain the order of samples that is provided by the user? So when the user inputs

[code]

he might expect to find the same sample order in all plots (heat maps, box plots from ReportingTools, etc...).

[2020-06-24 14:26] MarieLataretu commented on #70
but this is more a CLEAN issue, right?

[2020-06-24 15:08] hoelzer commented on #70
This could be also a CLEAN task, right. But for tRNAs this can be difficult or maybe people want to remove other features before DEG analysis.

So the idea here is to simply map and count the reads and then clean the featurecounts file to simply not use tRNAs or mtDNA or whatever features in DESeq2. Or: simply remove such features at the beginning from the annotation file so they are not counted a

[2020-06-25 11:49] MarieLataretu commented on #70
ah, yes true.

My first thinking was mtDNA (and DNAseq) and CLEAN

[2020-06-25 12:07] hoelzer commented on #70
Yeah, the thing with mtRNA is that in RNA-Seq data the kits often do not deplete for it (maybe for the two rRNAs that are encoded on the mtDNA but not more) and depending on the sample/tissue/... mtRNA can make up a large proportion. So optionally removing it prior count normalization and diff expr analysis can be beneficial. And I would simply implement this by: _skip all features that are on ca

[2020-07-03 12:34] hoelzer opened #71 "Heatmaps for pairwise comparisons"
It looks like heatmaps for pairwise comparisons show columns for all samples in the data set (here 18 samples) but only labels for the samples that are in the pairwise comparison. I think simply the wrong object is used for plotting (the full is used instead of a substitute)?

![Screenshot from 2020-07-03 14-32-09](https://user-images.githubusercontent.com/14393703/86469713-3f8a4300-bd3a-11ea-8298

[2020-07-03 12:38] hoelzer opened #72 "Excel tables are empty"
The .csv tables are fine, but in the excel tables I only see the header:

![Screenshot from 2020-07-03 14-37-59](https://user-images.githubusercontent.com/14393703/86470004-d1924b80-bd3a-11ea-8448-5305456da643.png)

[2020-07-06 11:33] hoelzer opened #73 "Differences between foldchange in CSV tables and html output"
For example:

`/beegfs/rna-hta/projects/mh_ml_baff/results_deseq2`

[code]

For this gene, the log2FC is 2.88 but the ReportingTools HTML table tells 3.170:

![Screenshot from 2020-07-06 13-31-55](https://user-images.githubusercontent.com/14393703/86589001-157c8f00-bf8d-11ea-940a-70e0911e05f5.png)

[2020-07-08 09:57] hoelzer commented on #72
Okay, the problem seems to be that before some changes to the DESeq2 script we wrote out CSV with these columns:

[code]

but the output now misses the `stat` column:

[code]

[2020-07-08 10:02] hoelzer commented on #73
could this be related to the missing `stat` column? see #72

[2020-07-08 10:06] hoelzer commented on #73
Or this could be a problem of the code in the pairwise comparison part:

[code]

because `dds` is used instead of `dds.sub`

[2020-07-13 09:41] MarieLataretu opened #75 "PCA on normalized data"

[2020-07-13 15:07] hoelzer opened #76 "Mode single or paired could be automatically detected ..."
... based on the input file. If there is a file in the R2 column, it is paired.

[2020-08-01 10:04] hoelzer opened #79 "Latency problems on HPCs (SLURM, LSF, ...)"
On HPC systems (e.g. at the EBI LSF cluster) I experienced problems with Nextflow related to latency problems with the file system. For example, NF assumed that `.command.sh` is available but it took to long to actually write the file to disk and then NF just hangs.

For later reference if we also observe such issues:

[code]

[2020-08-04 07:40] hoelzer opened #80 "Consensus DEG approach for bacterial transcriptomics"
https://github.com/SiWolf/SCORE

cool, they combine different tools as it seems. It's a SnakeMake pipeline.

Maybe useful for later reference.

paper:
https://academic.oup.com/bioinformatics/article-abstract/doi/10.1093/bioinformatics/btaa681/5876823

[2020-08-17 09:54] hoelzer commented on #8
This sounds like an interesting/simple approach to implement and its also based on DESeq2 output:

https://www.biorxiv.org/content/10.1101/2020.07.28.225581v2.full.pdf

Besides, they also have a methods section about _Host signaling pathway enrichment_

[2020-08-25 08:10] hoelzer opened #81 "TransBorrow: genome-guided transcriptome assembly by borrowing assemblies from different assemblers"
for later reference
https://genome.cshlp.org/content/early/2020/08/17/gr.257766.119.abstract

[2020-08-27 12:21] MarieLataretu opened #82 "TPM table looks suspicious"
seems like exon start stop are printed in the table

[2020-08-27 12:29] MarieLataretu opened #83 "add volcano plots to deseq output"

[2020-08-31 09:49] #83 closed

[2020-09-04 13:23] hoelzer commented on #81
checked the paper, seems not so useful for us atm

[2020-09-04 13:23] #81 closed

[2020-09-07 14:00] MarieLataretu commented on #82
nope, it's the `featurecounts` output with semi-colons separated ‘Chr’, ‘Start’, ‘End’ and ‘Strand’ columns

so everything all right

[2020-09-07 14:00] #82 closed

[2020-09-07 14:16] MarieLataretu commented on #72
fixed in #54

[2020-09-07 14:16] #72 closed

[2020-09-08 11:36] MarieLataretu opened #85 "add BUSCO to MultiQC"
https://multiqc.info/docs/#busco

[2020-09-09 09:41] hoelzer opened #86 "ComplexHeatmaps package"
This looks interesting (@MarieLataretu and maybe also helpful for some large heat maps in the SPP project)

https://github.com/jokergoo/ComplexHeatmap

[2020-10-02 07:23] hoelzer opened #88 "pdflatex is needed for deseq2 script"
While testing the pipeline in an environment w/o pdflatex installed I run during the deseq2 step into:

[code]

I tried to solve the problem by installing pdflatex into the deseq2 environment:

[code]

but as it turns out, the conda recipe for tex is broken for years:
https://github.com/conda-forge/texlive-core-feedstock/issues/19

Just again, an example where I more and more love containers. :) (

[2020-10-02 07:35] hoelzer opened #89 "second execution of deseq2 step destroys string variables"
deseq2 is configured to run a second time (because the step might fail due to connection time outs)

However, I observed that in the second execution some of the input channel values are destroyed in the sense of splitter into single characters:

### First execution
[code]

### Second execution
[code]

[2020-10-02 11:31] MarieLataretu commented on #88
I just put the regionreport pdf generation in `try()`, so that it is skipped if an error occurs.

see: https://github.com/hoelzer-lab/rnaseq/pull/87/commits/ca5ef1a0aa67a5170bf04df65c406f3093aceabf

[2020-10-02 12:45] MarieLataretu commented on #57
done with #87

[2020-10-02 12:45] #57 closed

[2020-10-02 12:45] MarieLataretu commented on #58
done with #87

[2020-10-02 12:45] #58 closed

[2020-10-02 14:45] MarieLataretu commented on #53
`piano` works now (#87) for hsa, mmu and mau

ensemble bacteria is not (any more) accessible via BioMart...

`topGO` might be an alternative for that (https://www.biostars.org/p/105375/)

[2020-10-02 14:45] #53 closed

[2020-10-02 15:06] MarieLataretu commented on #8
`piano` and `Webgestalt` works (for some species) with #87

for `revigo` I couldn't find an R package, but `ViSEAGO` might be something for us: https://link.springer.com/article/10.1186/s13040-019-0204-1

[2020-10-02 15:29] MarieLataretu commented on #89
I can consistently reproduce the error by forcing a retry with `stop('some msg')` in the R script

I have no idea what's going on

[2020-10-02 15:31] hoelzer commented on #8
good find @MarieLataretu ! okay, when we can't implement `revigo`, `ViSEAGO` looks also nice.

But I think for now it's already great to have `piano` and `Webgestalt` added.

Afaik when running `revigo` in the browser one can download R scripts to reproduce the plots, e.g.:

[REVIGO.r.gz](https://github.com/hoelzer-lab/rnaseq/files/5318897/REVIGO.r.gz)

But I never actually used them. Maybe one ca

[2020-10-02 15:32] hoelzer commented on #89
Strange, or? No glue

[2020-10-02 15:41] MarieLataretu commented on #89
I think, I  know what the problem is: in `deseq2.nf` the input channels are formatted before been passed on to the R script (https://github.com/hoelzer-lab/rnaseq/blob/master/modules/deseq2.nf#L29-L38)

The issue is now, that the input channel has the same name as the Groovy variable, which is the actual input for the R script. So in a second run the value of the input channel is formatted and the

[2020-10-02 15:42] #89 closed

[2020-10-02 15:46] hoelzer commented on #89
ahhhhh, I understand! nice, good fix!

[2020-10-02 16:01] MarieLataretu commented on #8
hmm, but it"s just the plotting script. the interesting values `c("term_ID","description","frequency_%","plot_X","plot_Y","plot_size","log10_p_value","uniqueness","dispensability")` are hard coded!

[2020-10-03 06:36] hoelzer commented on #8
Yeah, and calculated somehow via the Web Service. So Yeah, I also dont see
that it is worth to invest time to get revigo running. Webgestalt is
already pretty neat

MarieLataretu <notifications@github.com> schrieb am Fr., 2. Okt. 2020,
18:01:

[2020-10-08 14:08] MarieLataretu opened #90 "Biomart from ARA not accessible"
Of course, is Biomart not accessible from ARA. The script ends with:

[code]

[2020-10-08 14:21] hoelzer commented on #90
come on -.- can the url be allowlisted? I mean, this is a reasonable request I would say. They should allowlist some resources otherwise working with ara is just... phhhhh

[2020-10-08 14:28] MarieLataretu commented on #90
yes, I'm gonna ask for that. For the moment I added a `try()` statement

[2020-10-08 16:37] #90 closed

[2020-10-08 16:38] MarieLataretu commented on #88
this happens also on ARA

[2020-10-09 09:41] MarieLataretu commented on #90
works now on ARA

[2020-10-19 10:15] hoelzer opened #91 "Possible alternative to TPM values"
In a recent paper the authors propose an even less biased value to replace TPM: CPM

https://onlinelibrary.wiley.com/doi/abs/10.1111/1755-0998.13156

We can look into that at some point if it makes sense to replace/extend the current filtering via TPM.

[2020-10-20 18:09] #73 closed

[2020-10-20 19:00] hoelzer opened #92 "Simple execution example"
It would be great to have a really simple execution example, something like

[code]

or

[code]

The `--test` tag or the `test` profile will automatically load some default data and run a small example.

This would allow really easy testing for users if everything works fine.

For example, something like this is also implemented in https://github.com/replikation/What_the_Phage/blob/master/phage.nf

[2020-10-22 06:23] hoelzer opened #93 "Reduce disk usage"
This looks interesting:
https://github.com/nextflow-io/nextflow/issues/1754

[code]

[2020-10-22 15:57] MarieLataretu opened #94 "parallelize as much as possible in deseq2 script"
- deseq2
- piano
- webgestalt

[2020-11-03 09:26] klamkiew opened #96 "Installation order R packages -- ‘BiocGenerics’ was installed before R 4.0.0: please re-install it"
Hello there,

Following error occured in the DESeq2 step:

[code]

Digging a bit deeper, the deseq2.Rout file in the NF tmp-work dir provided the following info:

[code]

[2020-11-03 09:40] hoelzer commented on #96
These R packages -.-

@MarieLataretu could it be that this is directly solved when merging the PR that is currently open? I remember there also was a problem w/ DESeq2?

@klamkiew you could try to remove the deseq2 conda environment(s) and let the pipeline generate them again (there should be a `conda` folder from where you executed the pipeline).

Thanks for reporting! ;)

[2020-11-03 12:13] klamkiew commented on #96
Same problem; apparently, the R installation order is screwed up by conda.

[2020-11-03 12:36] MarieLataretu commented on #96
No, that's not related to PR. I think... There was no change in the conda env/yaml

I'm wondering what's going on, because I had no problem e.g. on ARA. It just takes for ever to create the env for the first time.

[2020-11-03 12:52] hoelzer commented on #96
Hm. I just prepared a Docker which was possible to build at least, using basically

[code]

so this should be in line with the [YAML env configuration](https://github.com/hoelzer-lab/rnaseq/blob/master/envs/deseq2.yaml).

@klamkiew can you please change in `conda.config`

[code]

to

[code]

And run again?

Then the workflow should pull the container located [here](https://hub.docker.com/repositor

[2020-11-03 12:58] MarieLataretu commented on #96
with manual activation of the conda env, `library(DESeq2)` and `library(BiocGenerics)` works

[2020-11-03 13:06] hoelzer commented on #96
strange...

[2020-11-03 16:40] klamkiew commented on #96
worked like a charm using the docker container and not the conda env... well... that's weird as hell...

[2020-11-03 16:42] hoelzer commented on #96
Okay, thanks for testing. So one step closer to the docker profile @MarieLataretu but would be good if the conda-only version also works (e.g. ARA, looking at you).

[2020-11-06 10:25] #92 closed

[2020-11-06 12:45] MarieLataretu commented on #96
It's still not reproducible for me.
I did `rm -rf .nextflow*`, `rm -rf conda`, did a test run on mahlzeit and it works.
On ARA, I removed the deseq2 env and it works.

Also interesting: when I activate the conda env, start R and load all packages as in our deseq2 script, DESeq2 works, but ReportingTools does not:
[code]

[2020-11-06 12:57] hoelzer commented on #96
This is madness...

different conda versions used by @klamkiew and you @MarieLataretu ?

Nothing else I could think of currently...

[2020-11-06 14:12] klamkiew commented on #96
Are we agreeing on that the issue is client-related and not your fault? ;)
I get the same issue when I am running the test profile on both, prost and mahlzeit...  conda version 4.9.1 by the way, not sure though whether some conda environments are causing the trouble for me, or whether it really is something server related.

[2020-11-06 14:21] hoelzer commented on #96
Last thing I can imagine that might help: `conda clean -a` and then run and build the env again...

Otherwise, I would say we archive this issue bc/ seems to be client-related. srry ;)

[2020-11-09 14:39] MarieLataretu commented on #96
I close this issue for now.

[2020-11-09 14:39] #96 closed

[2020-11-10 17:37] MarieLataretu opened #99 "heatmaps on TPM values"

[2020-11-12 16:41] hoelzer opened #100 "Skip read preprocessing completely"
In case the user wants to start with already trimmed and cleaned data (or does not want data to be preprocessed), we can add a functionality to skip these steps (like for SortMeRNA).

[2020-11-16 11:54] MarieLataretu opened #102 "--setup/offline preperation..."
...just download necessary files and databases (and maybe create singularity container?), e.g. via`--setup`

[2020-11-20 13:19] MarieLataretu commented on #71
was fixed during DESeq2 overhaul

[2020-11-20 13:19] #71 closed

[2020-12-01 10:26] flomock opened #106 "hisat 2 build fails, missing c lib"
Version: 1.0
BUG
When im using a none build-in species I'm getting the following error:
[code]

If i should guess, I would say this is an error in the conda env building where this lib is by default missing.
I've also experienced this error for **sortmerna**, so you likely have to do the same fix for this enviroemnt **too**.

[2020-12-01 10:40] hoelzer commented on #106
Thanks for reporting! To be honest, I kind of think that this is a somewhat _special-JenTower-machine-related_ issue :)

Nevertheless, might also happen on other systems. And it is strange that this only happens with non-build-in species.

Can you please try `-profile local,docker`? The Docker containers should have all the necessary libraries installed.

[2020-12-01 10:44] MarieLataretu commented on #106
I guess you use `-profile ara`?

Have you tried to remove the conda env? Does the error persist?

Which conda and nextflow version du you use?

[2020-12-01 10:44] hoelzer commented on #106
@MarieLataretu maybe

[code]

added to the hisat2 and sortmerna envs can solve the issue
https://stackoverflow.com/questions/48453497/anaconda-libstdc-so-6-version-glibcxx-3-4-20-not-found

[2020-12-01 10:55] MarieLataretu commented on #106
okay, let's try this:

@flomock please try `nextflow run hoelzer-lab/rnaflow -r fix106 ...`

[2020-12-01 18:00] flomock commented on #106
Sorry, I didn't expect you to answer this quickly. :D
@hoelzer I use profile ara
@MarieLataretu this led to a even weider error. I get an error that I did not set up a --species value, but the whole point is that I don't want to us this parameter ^^

[code]

As you can see I set the parameter --include _species, I'm actually thinking I don't need it if I understand the `--help` correctly. Nonethel

[2020-12-01 20:09] MarieLataretu commented on #106
Please try again without `--include_species`! I think I fixed this issue in the `busco` branch, which is now merged into `fix106`.
Don't forget to pull before:
`nextflow pull hoelzer-lab/rnaflow -r fix106`

[2020-12-02 11:10] flomock commented on #106
I did a pull, tried it, **same error**.

[code]
[code]

[2020-12-02 11:35] flomock commented on #106
I noticed that I'm actually not using the newest version, despite downloading it.
Weird!
[code]

When you look in the previous Comment

I should have the newest Version.

[2020-12-04 09:46] hoelzer opened #107 "GO summary visualization"
GO-Figure! could be interesting to summarize GO values instead of using REVIGO:
https://www.biorxiv.org/content/10.1101/2020.12.02.408534v1

[2020-12-04 11:17] MarieLataretu commented on #107
Yes, nice!
I put this this morning on my to-read list :D

[2020-12-04 22:49] MarieLataretu commented on #39
fixed with v1.0.0 (5682e4bb901aca5b99b12e3d989526de91690f1c)

[2020-12-04 22:49] #39 closed

[2020-12-07 07:39] Ahmed-Shibl opened #109 "Error with 'expression_reference_based:deseq2 (1)'"
Hi RNAFLOW team, first I want to say that I am really excited to use this software.
My installations were as follows:
[code]
I called for help with `nextflow run hoelzer-lab/rnaflow --help` and it ran perfectly fine.

Next, I ran the test with `nextflow run hoelzer-lab/rnaflow -profile test,conda,local --cores 48` but got this error at the DESEQ2 step as follows:

[code]

Some info that maybe usef

[2020-12-07 08:24] hoelzer commented on #109
Dear @Ahmed-Shibl, thanks for using RNAflow, and sorry that you run into such an issue.

What is the system architecture you are running on? Can you please do a `grep --version` because it seems that `grep` is throwing some error.

And it might be helpful if you can also provide the content (or last lines with the error) from

`/tmp/nextflow-work-as11798/62/6b1419764be9e1cffc50b160578818/deseq2.Ro

[2020-12-07 08:41] Ahmed-Shibl commented on #109
Thanks for your reply..
I hope this answers your architecture question: `Linux, 57-Ubuntu x86_64`
`grep --version` returned this:
[code]
The last few lines in `/tmp/nextflow-work-as11798/62/6b1419764be9e1cffc50b160578818/deseq2.Rout` read as follows:
[code]
Please let me know if you want any more info.

[2020-12-07 10:23] hoelzer commented on #109
Thanks!

Okay, so the `grep` warning seems not to be the problem and can be potentially fixed like described here (just to avoid the warnings): https://stackoverflow.com/questions/31156517/how-to-get-rid-of-grep-warning-grep-options-is-deprecated-please-use-an-alia

[code]

The real problem seems to be an error in the `piano` package for pathway analysis. Can you please simply try

[code]

so with

[2020-12-07 11:28] Ahmed-Shibl commented on #109
Okay I ran it again without the `--cores` and it worked perfectly. Thanks!!

I do have a follow-up question though; would this error carry over when I'm running my actual datasets? is there something I can do/modify to able to use 48 or 60 CPUs in the future with the `--cores` option?

[2020-12-07 12:33] hoelzer commented on #109
Interesting, @MarieLataretu we need to elaborate on this!

Normally it should be no problem to run with any numbers of cores and I think @MarieLataretu also used something like `--cores 48` on our test machine. So at the current status, I can only say that you need to give it a try while we are looking into the issue.

[2020-12-07 15:39] MarieLataretu commented on #109
Hey @Ahmed-Shibl, thanks for using RNAflow :)

The core problem might be solved by setting `--max_cores`. `--max_cores` defines the maximum cores that should be used in total, `--cores`defines the cores for single processes. So you could try e.g. `--max_cores 60 --cores 20`

However, I'm not sure, it this solves the grep issue.

[2020-12-07 21:48] hoelzer commented on #26
@MarieLataretu I think can be closed?

[2020-12-07 21:51] hoelzer commented on #8
@MarieLataretu I think `ViSEAGO` is still something we could implement in the future?

[2020-12-08 12:06] MarieLataretu commented on #26
True!

[2020-12-08 12:06] #26 closed

[2020-12-09 07:20] hoelzer opened #111 "Autodetect if Ensembl genome and annotation are used"
I think we could use [such a list](https://www.ensembl.org/info/genome/stable_ids/prefixes.html) to autodetect if the input GTF contains Ensembl IDs and if so, collect `gene_biotype`, link IDs to Ensembl URLs, ...

Maybe a similar list exists for Ensembl Bacteria,...

Thus, we could prevent such code snippets that we otherwise have to maintain manually:

[code]

[2020-12-10 05:36] Ahmed-Shibl commented on #109
Thanks so much, @hoelzer and @MarieLataretu, for those clarifications - I'll give it another go with your suggestions and will keep you posted.

[2020-12-10 13:15] hoelzer commented on #109
thx for the troubleshooting @Ahmed-Shibl !

[2020-12-10 14:31] evanfloden opened #112 "Environment variable in default params"
The use of the $USER env variable in the default params breaks portability.

For example in https://github.com/hoelzer-lab/rnaflow/blob/master/nextflow.config#L66

If this is required for a specific target platform, it would be better in a profile.

[2020-12-10 16:33] hoelzer commented on #112
Hey @evanfloden, thanks for checking out the code! So you would suggest switching to something like

[code]

and otherwise use `$USER` in specific profiles?

[2020-12-10 17:34] evanfloden commented on #112
A few things:

Not sure exactly how you use it but you probably don't want to specify workdir as a `param` as it is a top-level option. It can be specified directly in the config with `workDir = xyz` or by at the command line with `-w`.

I still think if you want to use for example `/tmp/nextflow-work-rnaflow` as your workdir, it should be in a profile as it is an option related to the execution p

[2020-12-11 12:30] MarieLataretu commented on #112
Aha, thanks for the clarification, @evanfloden!

@hoelzer, yeah, I think currently it just makes sense for ARA then.

---

Does the same hold for `$baseDir` in our `conda.config`, @evanfloden? (https://github.com/hoelzer-lab/rnaflow/blob/master/configs/conda.config)

[2020-12-11 17:07] hoelzer commented on #109
Can we just give piano a default low core value? Or does it need ages then
with only 2 or 4 cores?

Otherwise I need some logic to calculated a piano-handable core value based
on the User input taken as a maximum...

MarieLataretu <notifications@github.com> schrieb am Fr., 11. Dez. 2020,
17:47:

[2020-12-12 18:00] hoelzer opened #115 "cat * > foo.bar does not work in cloud"
I just run the test profile in the google cloud and apparently

https://github.com/hoelzer-lab/rnaflow/blob/master/modules/annotationGet.nf#L57

or

https://github.com/hoelzer-lab/rnaflow/blob/master/modules/referenceGet.nf#L57

fail. We need to use here something like

[code]

or

[code]

but this would restrict us to specific file endings.

[2020-12-13 07:36] Ahmed-Shibl opened #116 "Error with 'preprocess:hisat2'"
Hi! I recently ran the pipeline and got an error where a *_summary.log file was not detected during the execution of HISAT2.

Brief background: I'm using a Prochlorococcus genome as input and RNAseq reads (4 replicates) that belong to the strain grown under two different temperatures.

Please find the details below.

This is the command I started with:

`nextflow run hoelzer-lab/rnaflow --reads in

[2020-12-13 11:26] hoelzer commented on #116
Hi @Ahmed-Shibl, thanks for reporting! Interesting, because it seems that most of your samples were successfully running through the `hisat2` mapping step but `22_rep4` failed.

There is no more information in the `.command.{err,log,out}` files? Can you do a

[code]

just to check if there was a somewhat valid `BAM` file produced with some alignment information. Because it looks like `hisat2` fail

[2020-12-13 12:25] hoelzer opened #117 "Extend final CSV/XSLX tabe"
We already provide an extended final DESeq2 output table per pairwise comparison. Such a table will be the main outcome people will continue to work with. Thus, I suggest that we add some more columns:

* TPM value for additional filtering
* start and stop position to fastly find a feature in a genome browser
* full description (column 9 from the GTF), I already added this in the current #110 test

[2020-12-13 12:58] Ahmed-Shibl commented on #116
Hello @hoelzer ,thanks for getting back to me on this.

`.command.err` and `.command.log` show lines of this:
[code]
`.command.out` is empty.

`ls -lah /tmp/nextflow-work-as11798/9f/06b698f84634f12668a460b0102939/22_rep4.sorted.bam` returns:
`1.4G Dec 12 23:51 /tmp/nextflow-work-as11798/9f/06b698f84634f12668a460b0102939/22_rep4.sorted.bam`

and `samtools view -H /tmp/nextflow-work-as11798/9f/06b69

[2020-12-13 13:19] hoelzer commented on #116
The `grep` thing is just a warning so I don't think that this has an actual impact.

The BAM file has 1.4G so there is at least something mapped.

That the FASTQ files have differing line numbers is a bit strange, yes. So it seems R1 has 1,327,764 reads and R2 has 1,313,837 reads (line numbers divided by 4).

You could also check the integrity of your input FASTQ files via

[code]

just to be sure

[2020-12-13 14:37] Ahmed-Shibl commented on #116
Incredible...
fastq_utils did find an error:
`ERROR: Error in file /tmp/nextflow-work-as11798/ab/bc7fcf61fa424d2303859b020cb698/22_rep4.R1.other.fastq.gz: line 48180848: wrong header`

I checked all the *.other.fastq.gz files and they were all good - just this one.

[2020-12-13 16:01] hoelzer commented on #116
Can you please also check your input files? So the raw FASTQ? Are they fine? If they are fine, I would suggest deleting the folder `/tmp/nextflow-work-as11798/ab/bc7fcf61fa424d2303859b020cb698` so that sortmerna will run again for this sample. Maybe there was really some error in sortmerna... which we never experienced before. but anyway we also plan to replace the tool due to its slow runtime in

[2020-12-13 17:54] Ahmed-Shibl commented on #116
The raw FASTQ files were all also fine. I haven't yet deleted the folder `/tmp/nextflow-work-as11798/ab/bc7fcf61fa424d2303859b020cb698` but I'll certainly try that next. In the meantime, what I did was run the command again using `-resume` and `--skip_sortmerna`. HISAT2 ran fine but I got another error at the `featurecounts` step:
[code]

Now, I thought this might be an issue with headers in the `

[2020-12-14 10:06] #109 closed

[2020-12-14 10:10] MarieLataretu commented on #109
It feels like a runtime speedup, but I haven't test it.

I set the cores for `piano` to 10, if `--cores` greater than 10, else it runs single threaded.

[2020-12-14 12:36] MarieLataretu commented on #115
Okay, but why does `*.foo` work, and `*`not? :thinking:

[2020-12-14 12:54] hoelzer commented on #115
I need to reproduce it and send you the error mssg... at the end, I think I was also not sure why and was able to solve it like that.

[2020-12-14 13:12] hoelzer commented on #116
@Ahmed-Shibl thanks for keeping on! :)

Okay, you are using annotation from Prokka. Actually, I think we did not test such an input until now @MarieLataretu .

The default output from Prokka is in GFF format and not GTF I think and normally does not have `transcript` and `exon` features (the later making sense for bacteria). But in your case, it looks like your annotation does only have `transcrip

[2020-12-14 13:34] hoelzer commented on #115
and btw @MarieLataretu : why you are using

[code]
https://github.com/hoelzer-lab/rnaflow/blob/master/modules/referenceGet.nf#L49

and not just

[code]

followed by

[code]

might be more stable.

[2020-12-14 14:41] MarieLataretu commented on #115
Then you need two (or more) processes doing basically the same thing. I don't like that so much.
But if it helps for cloud execution...

[2020-12-14 14:47] hoelzer commented on #115
I don't get it I think?

Can't we just change the current code to:

[code]

and similar for https://github.com/hoelzer-lab/rnaflow/blob/master/modules/annotationGet.nf#L57 ? We already have two processes doing basically the same thing.

[2020-12-14 14:55] MarieLataretu commented on #116
Yes, I agree. It looks like you don't have the `gene -> transcript -> exon` structure.

I'll  implement an additional parameter for that.

I'm not sure with `-t transcript` in this case, though. Maybe `-t CDS` is better?

[2020-12-14 15:15] hoelzer commented on #116
@implementation of additional parameter: agree!

If we use `-t CDS` then we miss `gene_id` in the description column:

[code]

so one would need to set `-g transcript_id` as well. And I'm not sure what will happen subsequently when we do not extract the `gene_id` but some other ID :)

[2020-12-14 15:29] Ahmed-Shibl commented on #116
Hi @hoelzer and @MarieLataretu, thanks for your patience :)

Indeed my Prokka output was a GFF file and so I had to change it into a GTF file using `gffread -T RSP50.gff -o RSP50.gtf `

and yes when I used it before, I used `-t CDS -g ID ` as options, but at the time featurecounts accepted the GFF input so the only problem I ran into back then was having different chromosome names than the `.bam`

[2020-12-14 16:44] MarieLataretu commented on #115
Duh, I mixed it up with another project.

Yeah, this should work. `$fasta` looks like `foo.fa bar.fasta foobar.fn`, if there is more than one fasta file, so it should be fine.

(With `cat *.fa > reference.fa` we might have a problem with the endings....)

[2020-12-14 16:53] hoelzer commented on #115
Exactly. So we have consense? :)

[code]

and similar for annotation

[2020-12-14 17:18] hoelzer commented on #116
@Ahmed-Shibl okay. @MarieLataretu implemented a hotfix. Because we don't have your genome and read files it's difficult for us to test w/ your GTF file. But what you can try now is:

[code]

Maybe add `--output results_test` if you don't want to overwrite your current output files. Let's see if that helps to count the transcript features in your GTF file properly and if the rest of the pipeline ca

[2020-12-14 17:46] MarieLataretu commented on #115
Yes, agreed :+1:

[2020-12-14 20:01] MarieLataretu commented on #116
sorry, I meant: `-t CDS -g transcript_id` or `-t transcript -g transcript_id` - not sure what's better

[2020-12-15 10:51] Ahmed-Shibl commented on #116
Alright, I ran the following as suggested:

[code]

And got the earlier error related to the deprecated fastq.gz file as a result of the sortmerna step I guess. This time, though, it pointed out the error in more detail:

[code]

And so, I re-ran the same command above but added `-resume` and `--skip_sortmerna`:

`nextflow run ~/miniconda3/envs/rnaflow/rnaflow/main.nf -resume --output results_test

[2020-12-15 13:50] hoelzer commented on #116
Hi @Ahmed-Shibl !

[1]
[code]
I still dont know why SortMeRNA seems to report a deprecated FASTQ file here. I think you checked the corresponding input FASTQ and they were fine? I think fastp (trimming step, before SortMeRNA) can also work with the input FASTQ because then it is counted by featurecounts and passed to DESeq2 in your second call.

[2]
Okay, this is something I kind of expected becau

[2020-12-15 14:22] Ahmed-Shibl commented on #116
Hi!

[1]
When I ran this earlier

`fastq_info /tmp/nextflow-work-as11798/ab/bc7fcf61fa424d2303859b020cb698/22_rep4.R1.other.fastq.gz /tmp/nextflow-work-as11798/ab/bc7fcf61fa424d2303859b020cb698/22_rep4.R2.other.fastq.gz
`

it returned this (also mentioned above):

`ERROR: Error in file /tmp/nextflow-work-as11798/ab/bc7fcf61fa424d2303859b020cb698/22_rep4.R1.other.fastq.gz: line 48180848: wrong head

[2020-12-15 14:56] hoelzer commented on #116
[1] and the raw input files were also fine (srry cant' remember but I think you checked this) ?

[2] ah! no, they should not be empty. I think that's the problem. `annotation.gene.gtf` is constructed by extracting all rows that have `gene` in column 3. @MarieLataretu we should set this to something like `echo ${params.featurecounts_additionalparameter} | awk 'BEGIN{FS="-t"};{print $1}' | awk '{pri

[2020-12-15 15:22] Ahmed-Shibl commented on #116
[1] Yes the raw FASTQ were also fine

[2] Thanks for explaining this - makes sense, because I guess currently it's looking for `gene` when it should be looking for `transcript` or whatever is defined by `-t`

Happy to run it again once you give me the greenlight. Thanks

[2020-12-15 15:29] hoelzer commented on #116
[1] Okay, then, for some reason, SortMeRNA destroys this sample as it seems.

[2] @MarieLataretu can you implement a fix please?

[2020-12-17 08:23] hoelzer opened #120 "ReportingTools reduce number of image files"
E.g. my DESeq2 folder has for 55 pairwise comparisons >600k files. I think most them are due to the plots generated by `ReportingTools`.

Suggestion: In the DESeq2 process, after the `R` script finished, we include some (`bash`) code to `cp` all `ReportingTools` images to a single folder. We just copy from all the subfolders to get all plots needed by all comparisons into one folder. Then, we dele

[2020-12-29 11:09] hoelzer commented on #116
at [1]
I just experienced a similar error. For one FASTQ paired-end file, SortMeRNA produces a deprecated output that then fails afterward in the HISAT2 step. The raw FASTQ files look fine (checked with `fastq_info`) and are still fine after the fastp step. But the SortMeRNA step produces FASTQ files failing the `fastq_info` check.

What happens in the SortMeRNA step is

[code]

so could be that t

[2020-12-30 13:47] hoelzer commented on #116
Update: the same error occured again with the same input files (same sample).

@MarieLataretu I'm using this sample:

[code]

and the SortMeRNA process seems to produce deprecated output FASTQs for some reason.

`fastq_info` tells:

[code]

and for the R2 file:

[code]

Not sure what's going on and why sortmerna is failing here

[2021-01-05 10:35] MarieLataretu commented on #120
ah, so we don't have duplicated plots, in case one plot would be created in more than one condition?

[2021-01-05 10:43] hoelzer commented on #120
exactly. We generate them multiple times (I think its difficult to prevent this) but then copy them to a single folder (thus, overwrite) and then point all HTMLs to this single folder. We already have a (ruby) script that refactors the HTML tables so I think it's easy to point then to this folder. Would dramatically reduce the number of files.

[2021-01-05 10:54] MarieLataretu commented on #120
Sounds good!
(although in cases with quite different comparisons it might have no impact on the number of plots)

[2021-01-05 10:59] hoelzer commented on #120
true

[2021-01-06 14:54] #115 closed

[2021-01-06 14:54] #112 closed

[2021-01-07 11:58] evanfloden commented on #112
Just saw this now. $baseDir is a nextflow variable so this is fine 👍

[2021-01-12 19:37] MarieLataretu commented on #106
I have now the same problem on ARA :/
and `tmux` behaves like `screen`

[2021-01-12 20:26] hoelzer commented on #106
-.- singularity... get them to install singularity properly on ara

[2021-01-13 12:16] MarieLataretu commented on #116
Hi @Ahmed-Shibl ,

with release 1.2.0 we tackled the issues regarding the non-Ensembl annotation. `--featurecounts_additional_params '-t transcript -g transcript_id'` should work now.

For the corrupted fastq files, we speculate that `screen` or `tmux` is interfering. Can it be, that you started your run in a `screen`?

[2021-01-14 12:00] MarieLataretu commented on #116
There might be some issues with the non-biomartr-compatible IDs. This should be fixed in release 1.2.1

[2021-01-14 18:36] MarieLataretu opened #126 "not the latest report in output/Logs"
If `nextflow-run-infos` contains no reports (e.g. first run), no reports are copied to `params.output/Logs`.
If `nextflow-run-infos` contains reports (e.g. after resuming), not the latest, but the second latest reports are copied to `params.output/Logs`

It seems like the latest nf report files are available only after `workflow.onComplete`. I'm not sure if we can solve that with our approach... I

[2021-01-15 15:53] hoelzer commented on #126
Ah, okay we need to check this. But maybe you are right and the simplest way is via a parameter. Is runinfo a nextflow parameter? I mean that would be best if we can just hijack that? So the user can point to a path where the run reports are stored

[2021-01-16 11:43] Ahmed-Shibl commented on #116
Hi @MarieLataretu,

That's great, thanks - I'll use the latest v1.2.1 and re-run the command I started with above and keep you posted.

Yes, I definitely use `tmux` for runs that take time - do you recommend not to? is there an alternative?

[2021-01-16 15:28] hoelzer commented on #116
@Ahmed-Shibl

great, thanks for re-running those analyses and we hope it works now!

We experienced now a few times issues when executing Nextflow in a `screen` or via `tmux` but unfortunately we currently don't know what is happening here (and likely we can not fix that when it is a Nextflow issue). I also use `screen` quite regularly to run Nextflow (in particular for longer runs), detach, and a

[2021-01-18 10:40] MarieLataretu commented on #126
No, it's not a native nf parameter. That's how we use it:
[code]

I think, you implemented this https://github.com/hoelzer-lab/rnaflow/blob/d137c877f90614a0f1c32387bc2da0482f0f4602/main.nf#L733 because, nextflow keeps only the ten latest logs

I'd remove the `workflow.onComplete` and `bin/reports.sh` part and just set `runinfo = params.output/Logs`

[2021-01-18 10:49] hoelzer commented on #126
Yeah, I think I implemented this to move the reports to a specific folder after the wf completed. But your solution seems way easier! :)

[2021-01-18 12:47] MarieLataretu commented on #106
It seems like the `PATH` gets messed up with `source /beegfs/rna-hta/programs/README.sh` in the `.bashrc` on ARA.

I removed it and now it works in a screen :tada:

@flomock if you run something again, don't to forget to comment that out!

@hoelzer I'm not sure, if this is also a problem in #116

[2021-01-18 14:04] #126 closed

[2021-01-18 21:17] hoelzer commented on #116
I asked around and one of the Nextflow developers wrote:

`-bg` puts the run into the background. Maybe that helps somehow

[2021-01-19 17:53] Ahmed-Shibl commented on #116
@hoelzer @MarieLataretu

Okay I think there is some progress but I still ran into an error - this time with deseq2.

First I updated the pipeline with:
`nextflow pull hoelzer-lab/rnaflow`

The command I then ran (without `tmux`) was this:
Notice however that I used `--skip_sortmerna` (next time I can try without this flag)
`nextflow run hoelzer-lab/rnaflow --output results_test_fixed --skip_sortme

[2021-01-24 10:31] hoelzer opened #128 "Check tool versions between conda envs and Docker containers"
@MarieLataretu we should keep in mind to harmonize tool versions between the conda envs and the Docker containers, otherwise, one might end up with different results of the pipeline using either `-profile conda` or `-profile docker`.

Long-term, it would be good to generate the Docker containers directly from the conda yaml files:

[code]

I think atm, it should be fine in v1.2.2

[2021-01-24 10:53] hoelzer opened #129 "Error when annotation file is gzipped"
I run into an error when providing `--annotation gtf.csv` with content

[code]

I think we should check also for annotations if they are zipped and if so unzip them

[2021-01-24 12:20] hoelzer commented on #129
Could it be that there is also still a problem when the input FASTA is gzipped?

[code]

[code]

[code]

[2021-01-24 20:29] hoelzer opened #130 ""Steve" scatter plots"
Because I am looking into this right now and this could be a cool future feature:

[pmn3_ctr_pmn3_eco_vs_pmn3_ctr_pmn3_can.fc1.pdf](https://github.com/hoelzer-lab/rnaflow/files/5863110/pmn3_ctr_pmn3_eco_vs_pmn3_ctr_pmn3_can.fc1.pdf)

For historical reasons, we call them "Steve" plots :)

A bunch of code that is basically needed to produce such fc comparison scatters:

[steve_code.tar.gz](https://g

[2021-04-13 11:17] hoelzer opened #131 "Long-read (Nanopore) data support"
I would like to test the workflow also for long-read data input. I think it should be fairly easy to replace few processing tools but (hopefully) leave the rest untouched:

Instead of

* fastqc
* fastp
* hisat2

we should use

* nanoplot
* filtlong (might be optional)
* minimap2

and then pass the BAMs to the downstream tasks.

Likely, we skip rRNA cleaning for long reads.

I think for featureCoun

[2021-04-16 17:25] gurpreet-bioinfo opened #132 "Java error"
Hi @hoelzer ,

Keep on getting the following error:

[code]
Even though loaded Java module, still the error persists.
Any pointers?

My commands from bash script (on slurm):
[code]
Also tried:
[code]

Thanks.

[2021-04-17 12:55] hoelzer commented on #132
Hi @gurpreet-bioinfo !

What's your `java --version`?

I can not directly pinpoint what's going on here. Is `nextflow` generally working? So what if you try to run another pipeline? So for example:

[code]
(I think [this workflow](https://mult1fractal.github.io/wtp-documentation/installation/quick_installation/) is quite stable on SLURM+Singularity so it would be interesting if it runs through)

I

[2021-04-17 13:48] hoelzer opened #133 "New featurecounts parameter to explicity count read pairs"
New parameter '--countReadPairs' is added to featureCounts to explicitly specify that read pairs will be counted, and the '-p' option in featureCounts now only specifies if the input reads are paired-end (it also implied that counting of read pairs would be performed in previous versions).

see http://subread.sourceforge.net/

@MarieLataretu we should check that and likely

a) update to newest fea

[2021-04-19 14:55] gurpreet-bioinfo commented on #132
@hoelzer Java version is 11.0.2

Yes, nextflow is working as I am running another [pipeline](https://github.com/nf-core/rnaseq) offline due to error with singularity images so downloaded the images and it's running smoothly.

[2021-04-20 12:52] hoelzer opened #135 "Cloud support profile"
Currently, RNAflow is not fully cloud compatible due to missing labels for some processes. The CaSe group at the Uni Hospital Jena set their own profile up we can use as a template to make RNAflow more cloud stable:

https://github.com/CaSe-group/nextflow-configs/blob/main/hoelzer-lab/rnaflow/ukj_profile.config

(thx christian et al.)

[2021-04-21 22:23] gurpreet-bioinfo commented on #132
@hoelzer Any pointers please? Thanks.

[2021-04-22 20:10] hoelzer commented on #132
@gurpreet-bioinfo can you try the integrated test run for RNAflow?

[code]

and if this is working please try `Singularity` if you can not use `conda`:

[code]

If you run into issues while downloading the singularity images the first time, please try:

[code]

for the first setup and all container downloads.We experienced issues in particular on HPCs when images are downloaded and converted in pa

[2021-05-30 00:43] zhmmax opened #136 "Run error"
When I ran this command today：“nextflow run hoelzer-lab/rnaflow --reads input.csv --autodownload mau --pathway mau --max_cores 8 --cores 4 --mode paired”，it reported this error “RNAflow requires at least Nextflow version 20.07.1 -- You are using version 21.04.1”. But my Nextflow already upgrade to the latest version.

[2021-05-30 12:44] hoelzer commented on #136
Hi @zhmmax thanks for reporting! We had this issue now w/ a couple of pipelines and it's related to a version check that fails for the newest 21.x release. I will address this asap

[2021-05-30 12:50] hoelzer commented on #136
@zhmmax can you please try:

[code]

If this works, I will make a new release. Thanks!

[2021-06-02 14:46] dakehero opened #138 "Use `run_busco` instead of `run_BUSCO.py`"
When you are installing BUSCO version 3.0.2 with conda, it will automatically create a symbol link `run_busco` to `run_BUSCO.py` in {busco_env_dir}/bin.
Just use `run_busco` instead of `run_BUSCO.py`

[2021-06-02 16:32] hoelzer commented on #138
Hi @dakehero, thanks for the hint!

You are referring to https://github.com/hoelzer-lab/rnaflow/blob/master/modules/busco.nf#L24

Currently, we only use BUSCO w/ a pre-build Docker container and do not support `conda`. I did this, bc/ I run into issues with the `conda ` env. But maybe this is exactly solved by what you proposed.

We will give it a try!

[2021-06-17 17:09] hoelzer commented on #136
@zhmmax does this solve your problem?

[2021-06-23 12:39] #136 closed

[2021-06-23 12:42] MarieLataretu commented on #136
@zhmmax feel free to reopen!

[2021-06-23 13:53] MarieLataretu commented on #116
Hmm, this DESeq error really sounds to be input-dependent... :thinking:

Have you ever tried the small test example with `nextflow run hoelzer-lab/rnaflow -profile test,conda,local --condaCacheDir ~/miniconda3/envs/rnaflow/conda`?

[2021-06-25 17:47] Ahmed-Shibl commented on #116
Hi @MarieLataretu,

So, I ran the command you suggested above and it went well. Here's the output:

[code]

How do you recommend I troubleshoot my data/files? Is there a way to get a template of the files used as input for DESeq2 in this test run? or would I have to trace further back?

Thanks,

[2021-06-26 08:25] hoelzer commented on #116
Hi @Ahmed-Shibl thanks for catching up!

Here you can find the test data and structure that is run via the `test` command: https://github.com/hoelzer-lab/rnaflow/tree/master/test-data

Maybe that helps to figure out what's the difference in your data?

[2021-07-16 14:12] MarieLataretu opened #140 "add Nanoplot to MultiQC"

[2021-08-16 03:11] phuongdoand opened #141 "Issue with the SortmeRNA process"
Hi, I just found out about your pipeline a few days ago and decided to give it a test run.
I tried it on two datasets that I am currently analyzing and in one of the datasets, there is an error that occurred in the `preprocess:hisat2` process.

![image](https://user-images.githubusercontent.com/43783123/129506014-f0d7b761-e40a-4b80-be88-9e887ee9482b.png)

It tells me that the length of the sequenc

[2021-08-17 18:27] hoelzer commented on #141
@phuongdoand thanks for your interest into our pipeline and for reporting that issue.

I think we (and others) experienced this now a couple of times.

May I ask what your running `nextflow run ...` command is? And which profile are you running? Lastly, are you running nextflow in a screen or something similar? We had some issues related to such things in the past.

We already thought about replac

[2021-08-17 18:28] hoelzer commented on #132
@gurpreet-bioinfo were you able to solve the problem?

[2021-08-17 18:34] hoelzer commented on #141
Here we had some long discussion about this (and other) issues: https://github.com/hoelzer-lab/rnaflow/issues/116

The user was running the pipeline w/ tmux and apparently this was causing strange issues with SortMeRNA in Nextflow that we were not able to fully unravel. So I bet that you also started the pipeline in a screen/tmux/...  ? :)

If so, can you please give it a try without? Maybe you ar

[2021-08-18 01:17] phuongdoand commented on #141
@hoelzer Thank you very much for the prompt response and so sorry to disrupt you on your holiday.

Forgot to attach my command in the issue but here it is:

`nextflow run hoelzer-lab/rnaflow --autodownload hsa --reads cleanData/input.csv --deg comparison.csv -profile docker -resume --mode paired -with-trace`

I was indeed running the command with a screen session using the screen command. So is it

[2021-08-18 11:21] hoelzer commented on #141
@phuongdoand no problem ;)

Thanks for the command. btw it's always good to use the `-r` flag to point to a specific release of the pipeline you want to run. That way, your results are fully reproducible. You can see available release versions via

[code]

And yes, we dont have an explanation yet but we also experienced this behavior of SortMeRNA in a screen session. It could be also that this onl

[2021-08-18 11:24] hoelzer opened #142 "Add information on screen/tmux usage to README"
We can add some information on the usage of the pipeline in a screen/tmux session to the README/FAQ. Apparently, there are issues w/ e.g. SortMeRNA #141 when running the pipeline in a screen.

We can recommend using nextflows `-bg` parameter if the pipeline should run in the background. In addition, the terminal print can be redicrected to a log file to still check what the pipeline is doing.

[2021-08-19 01:58] phuongdoand commented on #141
@hoelzer Thank you for the tip and advice.

Nevertheless, I just finished running the command again with nextflow `-bg` flag but the same behavior occurred again. So I guess that this is not because of using screen/tmux problem but rather sortmeRNA's trouble.

So in the end, I decided to use the `--skip_sortmerna`  to avoid the error and also to accelerate the analysis pipeline.

[2021-08-19 07:02] hoelzer commented on #141
Okay, can you do a last test and just run the command without any
screen/bg? So simply in the terminal?

It would be interesting if this works then finally and sortmerna produces a
correct fastq.

If not, we really need to replace the tool.

On Thu, 19 Aug 2021, 03:58 phuongdoand, ***@***.***> wrote:

[2021-08-19 07:10] phuongdoand commented on #141
@hoelzer Sure, it will take quite some time for the sortmeRNA to run, so I will let you know the testing result when it is available.

[2021-08-19 08:15] hoelzer commented on #142
It seems that the nextflow bg does also not solve the problem #141

[2021-08-20 02:20] phuongdoand commented on #141
@hoelzer Got the result today, the problem still occurs on the FASTQ file that I have been using.
I guess that this is a problem of the sortmeRNA merging and splitting processes. Since I have noticed that the quality value assigned for the same nucleotide differs between the `other.fastq.gz` and the `original.fastq.gz`, which is weird.

Btw, since you mention the README, it would be better if you

[2021-08-23 12:33] hoelzer commented on #141
@phuongdoand okay thanks for reporting! And weird - I thought that running the pipeline and thus SMR outside of a screen/bg might solve the issue. But then we really need to replace SMR w/ the newer version or another tool. I will make a separate issue for that.

Regarding the README: thanks for the hint, this we can do!

[2021-08-23 12:35] hoelzer commented on #142
Aaaand apparently also running the pipeline and thus SortMeRNA outside of any screen/bg does also not solve this issue #141

However, we can update the README to at least document that some problems (also w/ HISAT2) might be able to solve by running the pipeline outside of screen/bg/tmux

And we can also add:

[2021-09-08 09:27] #142 closed

[2021-11-12 09:46] gabriellovate opened #144 "Introduce a way of filtering/ordering transcripts by number of reads on DESeq2 reports"
Although we have the box-plots easily accessible on the reports, it would be even nicer to be able to order/filter the transcripts by  number of reads. Maybe just include the `baseMean` from the raw DESeq2 results?

[2021-11-15 15:31] hoelzer commented on #13
* check Ensembl for a mapping between three letter species code & URL
* use this list then to automatize this process

[2021-11-15 15:35] hoelzer commented on #16
basically only the order issue explained above is missing

[2021-11-15 15:36] #17 closed

[2021-11-15 15:38] #20 closed

[2021-11-15 15:40] hoelzer opened #145 "Update all tool versions used in the pipeline"
Bump all tool versions (conda and container!) if possible.

Test the full pipeline is working

[2021-11-15 15:45] hoelzer commented on #34
Is there a conda available?

[2021-11-15 15:51] #47 closed

[2021-11-15 15:53] hoelzer commented on #62
Basically, this is about improving the PCA figures. Likely, this needs some additional user input again via another input file.

[2021-11-15 15:57] hoelzer commented on #66
Likely this needs a sorted nextflow channel as input for deseq2 process or some additional sorting in the R script

[2021-11-15 16:05] hoelzer commented on #70
It seems best to add another parameter (or check featureCounts build-in params?) to allow the user to "skip" certain features he does not want to include in counting and subsequent analyses

[2021-11-15 16:07] #75 closed

[2021-11-15 16:09] hoelzer commented on #76
when the R2 column is empty: single-end. Otherwise paired-end.

[2021-11-15 16:09] hoelzer commented on #76
Check nf-core rnaseq project: maybe they are also doing this automatically!

[2021-11-15 16:16] #80 closed

[2021-11-15 16:17] hoelzer commented on #85
is this done already? please check and if not add to MultiQC :)

[2021-11-15 16:19] hoelzer commented on #10
see also #86 this tool also implements UpSet plots as it seems

[2021-11-15 16:20] hoelzer commented on #86
Is this useful? Can we easily generate some nice additional plots with the package?

[2021-11-15 16:21] hoelzer commented on #88
maybe this is solved after https://github.com/hoelzer-lab/rnaflow/issues/145

[2021-11-15 16:22] hoelzer commented on #88
if not, could be also added to the FAQ/known issues... or we find a way to install pdflatex via conda...

[2021-11-15 16:27] hoelzer commented on #93
Maybe not really needed... soon nf should have `-cleanup` implemented...

[2021-11-15 16:31] hoelzer commented on #94
ideas

* split the big script into smaller pieces (deseq, piano, reportingtools, ...)
* run the pairwise comparisons in parallel
* * etc...

[2021-11-15 16:32] #99 closed

[2021-11-15 16:34] hoelzer commented on #100
`--skip_read_processing` could simply do that

[2021-11-15 16:35] hoelzer commented on #102
yes, that's nice. E.g. also done in github.com/replikation/What_the_Phage/ to just install everything.

[2021-11-15 16:37] hoelzer commented on #107
yes, might be still nice: https://gitlab.com/evogenlab/GO-Figure

[2021-11-16 08:44] fischer-hub opened #146 "compatibility issue in multiqc v1.9 docker container on some systems"
[Multiqc docker container](https://hub.docker.com/layers/nanozoo/multiqc/1.9--aba729b/images/sha256-a57444dd3909fcd3d1facf6c749f68a1935de446045da94c4ed8604f50e00e8b?context=explore) doesn't work on allegro cluster (SMP Debian 5.10.70-1), the container has numpy v1.18.4 and networkx v2.6.1 installed but this version of networkx requires numpy>=1.19, the [official multiqc container](https://hub.dock

[2021-11-16 15:40] hoelzer commented on #146
@fischer-hub great thx for the info. Lets see if the v1.11 container works then and directly solves this issue

[2021-11-17 09:44] fischer-hub opened #149 "buscoDB link in module buscoGetDB is dead"
the buscoDB link is dead but we can just use the autodownload in busco v5 like we did in the fungi assembly pipeline:

https://github.com/hoelzer-lab/nf_fungi_assembly/blob/master/modules/busco.nf#L16

and then just set the mode to transcriptome maybe

[2021-11-18 08:26] fischer-hub commented on #146
fixed with update to multiqc v1.11

[2021-11-18 08:26] #146 closed

[2021-11-18 11:12] hoelzer commented on #149
yep! Please do so, I think the decision we made in the fungi wf can be also used here by simply downloading the rather small (I think) BUSCO database directly in the process.

However, we should just keep in mind that it will then be likely not possible anymore to run RNAflow "offline". Maybe we should add a error catch to BUSCO then in case there is no internet connection? Just that the pipeline

[2021-11-18 12:39] fischer-hub opened #150 "adjust assembly sub wf for usage with long-read data"
- de novo assemble nanopore long reads (check if Trinity has a LR option)
- reference-based assemble long reads (does StringTie2 have a LR option?)

[2021-11-19 09:55] fischer-hub commented on #149
In theory the new BUSCO should accept file paths too so one can use custom/pre downloaded DBs too, that way maybe the DB will not be downloaded every run too but I have to check if that really works. Otherwise I'll add an error catch :)

Also I guess `dammit databases` will run into the same issue like in the fungi pipeline since some of the links are still dead, so I'd use the zenodo DB and then

[2021-11-19 09:59] hoelzer commented on #149
yes! good catch and you are right. `dammit` will also fail -.- But we can use the zenodo database. I also think/hope that one could just replace the necessary BUSCO files and then the DB still works. Except something is indexed or so... but this we would need to try. Basically this also came up as a question here:

https://github.com/dib-lab/dammit/issues/229

[2021-11-19 10:17] fischer-hub commented on #149
Isn't the BUSCO DB lineage dependent? Because then we can not just upload it to zenodo if it only suits one lineage or am I misunderstanding something here?

I think the problem with the old `buscoGetDB` process was also, that the new odb filenames contained dates like 'euarchontoglires_odb10.2021-02-19.tar.gz' so I'm not sure if we can just `wget` them like before. I'll see if I can get it to wor

[2021-11-19 10:32] hoelzer commented on #149
Yes, the BUSCO DB depends on a kingdom, genus, ... there are several one can download/use. My suggestion was not to upload this to Zenodo. My suggestion was that we have (like now) a process that downloads the requested BUSCO db (e.g. 'fungi') and stores it locally. So that next time, it does not need to be downloaded again.

Now, for dammit we need to use the db on Zenodo bc/ some URLs are broken

[2021-11-19 10:44] fischer-hub commented on #149
Ok now I got it, we can specify a download dir for the autodownload with BUSCO v5 to store it locally, I'll look for an alternative in case that doesn't work regarding the links.

Not sure about UniRef I just saw the uniref90 option while editing the dammit processes ^^

[2021-11-19 12:52] hoelzer commented on #149
Yep! srry for confusion ;)

I think we use uniprot-swissprot database (which I think is UniProtKB... but not 100% sure) right now in dammit.

[2021-11-22 02:04] AlbatrosHurleur opened #151 "Conda fails to create MultiQC and DEseq2 environments"
Hi, I'm trying to use RNAflow which seems great, but I received an error during the test run (on master branch and 1.2.4):

`$nextflow run hoelzer-lab/rnaflow -profile test,local,conda`

[code]

And indeed, when I tried:

[code]

Just to test, I removed multiqc's version in multiqc.yaml, which "solved" the issue; maybe it would cause another one later with MultiQC 1.11 (and also, this trick can on

[2021-11-22 08:30] hoelzer commented on #151
Hi @AlbatrosHurleur , thanks for your interest in the pipeline!

Indeed, we are currently working on an update of the pipeline that will also upgrade the tool versions (e.g. here we also solved MultiQC #146). We also experienced issues with the DESeq2 env and @fischer-hub is working on it.

So you can either wait a bit until the next release of RNAflow or (and I can recommend this in general): use

[2021-11-22 10:21] AlbatrosHurleur commented on #151
Hi @hoelzer,
Thanks for the quick reply and for working on updating the tools!

Indeed I can't use Docker on the cluster; I tried Singularity before opening this issue, unfortunately, I had another problem when pulling from Docker (Sylabs and Shub work well):
[code]
It's stuck and doesn't create any file that I see, it's obviously a Singularity setup issue on the cluster as it's working on my work

[2021-11-22 10:35] hoelzer commented on #151
@AlbatrosHurleur how did you install Singularity on your local machine? It seems there is still some configuration issue due to the permission denied error.

@fischer-hub can you check if the test profile w/ Singularity is working for you?

[2021-11-22 11:01] fischer-hub commented on #151
Hi, the test profile is working for me with singularity on the cluster as well as local.

@AlbatrosHurleur I think your local issue is not related to `fastp`. Can you run containers manually with your local singularity configuration? If not it might be just a configuration/permissions issue.

You can also try to manually pull docker containers for the cluster issue, because singularity sometimes h

[2021-11-22 11:13] AlbatrosHurleur commented on #151
I installed it in a conda environment like this:
[code]

[2021-11-22 11:23] fischer-hub commented on #151
Maybe you can try installing it without conda with the official installation guide:
https://sylabs.io/guides/3.0/user-guide/installation.html

I remember that the singularity conda installation had several issues with the permissions etc.. and also it is quite outdated so it might be a good idea to use the official installation if you have time for that!

[2021-11-22 11:28] AlbatrosHurleur commented on #151
I'll give it a try, thanks!

[2021-11-22 11:29] AlbatrosHurleur commented on #151
@fischer-hub

I agree it is the case (first time I use it), indeed I can't:
[code]

singularity pull --name nanozoo-fastp-0.23.1--9f2e255.img.pulling.1637160399547 docker://nanozoo/fastp:0.23.1--9f2e255

Yes... But it gets also stuck and doesn't do anything. As I am currently having an issue on the cluster (curl, git and apparently singularity get stuck when I access anything using SSL), I think I

[2021-11-22 13:36] fischer-hub commented on #150
trinity: --long_reads <string>           :fasta file containing error-corrected or circular consensus (CCS) pac bio reads
stringtie2: -L use long reads settings (default:false)

[2021-11-22 13:50] hoelzer commented on #150
k nice, however the trinity option might not be optimal for (more erroneous) Nanopore reads. But better then running just the short-read default!

[2021-11-22 14:01] fischer-hub commented on #150
yeah, we will see how well it works when I get the updated version of trinity to run again :D

[2021-11-22 15:48] AlbatrosHurleur commented on #151
I followed this (simply by adding the repository and installing `singularity-container` Ubuntu package), and the test run worked like a charm. Unfortunately, my workstation is not powerful enough to run my real-data RNAseq experiment, but still that's a nice progress.

Thanks again @fischer-hub

[2021-11-22 16:06] AlbatrosHurleur commented on #151
I agree, thank you all.

[2021-11-22 16:06] #151 closed

[2021-11-24 15:40] rob123king opened #153 "conda install error"
I have the below error when run the test command in conda for first time. I try installing SortMeRNA to my conda environment thinking it would install this too and bypass problem but I still can't find the script, any ideas where I can find it to update my conda envrionment with it, or should it just install itself during test?
command not found: indexdb_rna

**Full error:**
Workflow execution com

[2021-11-24 15:46] rob123king commented on #153
tried to get round it by using my local sortMeRNA installation that has it and see if that works

[2021-11-24 15:50] rob123king commented on #153
still fails, but just run these commands locally so hoping it will just detect and skip this step.
module load SortMeRNA/2.1-foss-2018b
indexdb_rna --ref ./sortmerna/data/rRNA_databases/silva-bac-16s-id90.fasta,./sortmerna/data/rRNA_databases/silva-bac-16s-id90:./sortmerna/data/rRNA_databases/silva-bac-23s-id98.fasta,./sortmerna/data/rRNA_databases/silva-bac-23s-id98:./sortmerna/data/rRNA_database

[2021-11-24 15:58] fischer-hub commented on #149
Fixed with the updated tool version branch, also from what I can see substitution of the buscoDB files in dammitDB works as long as dammit can find a 'download_and_untar:busco2db-{busco-lineage}.done' file in the same dir as the extracted buscoDB dir.

[2021-11-24 15:58] #149 closed

[2021-11-24 16:00] hoelzer commented on #149
nice, thx!

[2021-11-24 16:04] rob123king commented on #153
I did the process manually out of nextflow but still tries to run it and fails.

[2021-11-24 16:06] hoelzer commented on #153
Hi @rob123king ! Thanks for your interest in the pipeline!

So your first error seems related to

We actually don't install git in the necessary conda environment because normally this is just installed on Linux systems.

Hm actually @fischer-hub we could add this to the conda envs where we use git in the corresponding process: https://anaconda.org/anaconda/git

Nevertheless, to check this right n

[2021-11-24 16:14] fischer-hub commented on #153
@rob123king  It also seems like `sortmerna` is not installed correctly in the conda environment.

You can try to delete the environment that was created for `sortmerna` while running the pipeline. Then just run it again so nextflow will  recreate the environment, sometimes environments get built incorrectly and you have to manually delete them.

[2021-11-24 16:27] rob123king commented on #153
git in on the system so weird that's coming as an error and when I load the sortmerna module on our system to bypass then it picks up the command but when I run the nextflow it doesn't work. I'll try a fresh install of the conda environment and see if just starting again it all works fine. almost seems like the conda tools are not being found. Maybe as I am loading conda via our easybuild "module

[2021-11-26 15:54] fischer-hub commented on #150
Okay looks like Trinity only accepts one long-read file as input, so I'll have to merge in case multiple long-read inputs are given to the pipeline. Lets see if that works

https://github.com/trinityrnaseq/trinityrnaseq/issues/1096#issuecomment-980014340

[2021-11-26 16:40] hoelzer commented on #150
ah, I see. Right now we give Trinity a table with the paths to all the short-read files, or? To generate then one big assembly for all the input samples?

If this does not work for long-reads, then just concatenate all the input long-read files into one fastq for trinity input.

[2021-11-26 16:49] fischer-hub commented on #150
Yes correct, I'll try if it works with with long read paths in a samples file, but I'm afraid Trinity will just run in short read mode then. We will see

[2021-11-29 08:08] hoelzer opened #154 "Quantification of Nanopore reads"
https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkab1129/6439677?s=09#.YaQgdEN8j8A.twitter

Questions are

A) also good for cDNA Nanopore reads?

B) so large difference to featurecounts with long read option that we are currently using?

Also minor, bc rnaflow was mainly intended for short read data and long read support is more of an addon

[2021-11-29 11:57] fischer-hub commented on #150
Ok it seems like Trinity actually only supports the use of PacBio long reads as additional support for a illumina short read based assembly. (https://github.com/trinityrnaseq/trinityrnaseq/issues/210#issuecomment-278824938) So we might need some other tool for long read denovo assembly. Or we just treat them like short reads and hope for the best?

What do you think? I'll look into alternative too

[2021-11-29 13:23] hoelzer commented on #150
@fischer-hub okay, thx. I would say either

1) use the pacbio LR input function from Trinity (better than using the SR input I'd say)
2) use another Nanopore-specialised de novo transcriptome assembly tool... but I have to say that I right now dont know any...

I would not put too much time here bc/ the assembly part is not the main feature of RNAflow. However, of course it would be good that it w

[2021-11-29 14:41] fischer-hub commented on #150
The LR input function of Trinity still requires input of SRs too, so this is more of a hybrid assembly flag. In case someone only provides LR data this would still not work.

However then maybe this tool for "Reference-free reconstruction and error correction of transcriptomes from Nanopore long-read sequencing"  ([RATTLE](https://github.com/comprna/RATTLE)) could be an quite interesting alternati

[2021-12-02 12:43] fischer-hub commented on #76
They actually have a quite large [python script](https://github.com/nf-core/rnaseq/blob/master/bin/check_samplesheet.py) running in a seperate input_check process for checking several things in the .csv file, we could do something similar but maybe on a smaller scale.. they also check things like file extensions, strandedness, spaces in sample name etc. I'm not sure if we need all of that?

[2021-12-02 13:29] hoelzer commented on #76
ah cool, yeah strandedness would be awesome actually! If we can also easily detect this. So from my pov

* SE vs PE
* strandeness (if possible)

And if this is possible with a smaller version of this script (but we should then also acknowledge them in the README!) that would be great

[2021-12-02 13:30] hoelzer commented on #76
So default should be still that user can provide all of this information. BUT: if not user-provided, the script could try to detect the best setting, if possible

[2021-12-10 15:16] #79 closed

[2021-12-10 16:19] fischer-hub commented on #13
I just found this [prefix list](http://www.ensembl.org/info/genome/stable_ids/prefixes.html), so mapping from 3 letter code to species name should be possible, but the different base URLs (bacteria.ensembl.org, plants.ensembl.org, etc.) will be difficult probably.. Maybe theres a direct mapping to the URLs somewhere too

[2021-12-10 16:37] fischer-hub commented on #34
Sadly not. But there seems to be a pre compiled version as well as setup via make

[2021-12-12 13:43] hoelzer commented on #34
@fischer-hub k, but then it's still difficult to manage via the conda profile, right? No problem for docker/sing of course. But if there is no conda available, I would suggest to close this for now and stick to fastp

[2021-12-12 13:43] #34 closed

[2021-12-12 13:45] hoelzer commented on #13
Yes nice @fischer-hub , this list is already a very good starting point. But agree, the correct base url remains difficult.

Maybe implement a ping to the url and brute force test which one works (plant, bacteria,...)? :d

[2021-12-13 09:01] fischer-hub commented on #13
Good idea I'll try that!

[2021-12-13 10:00] rob123king commented on #153
Having a right drama trying to get this working via conda so just going to install myself via conda and set it to assume everything is in path and should be all fine. I've tried it on AWS batch and tower and worked really well. I would like the additional RNA-seq diff expression module at the end like UCL have and previous discussions but guess I'll hack my own version of UCL and get that working

[2021-12-13 15:44] fischer-hub commented on #85
The transcriptome assembly sub-workflow does not use multiqc at the moment. But I can add it and also add the busco summary to the multiqc call then.

[2021-12-13 22:37] Liyong-Zhang commented on #133
the 2.0.2 is not available in Conda subread yet.

[2021-12-14 10:08] hoelzer commented on #133
Hi @Liyong-Zhang yes thanks for the info, that's a pitty. In the Docker container I installed v2.0.2 via

[code]

but you are right, only v2.0.1 on bioconda. To stay consistent with the Docker and Conda profile of the pipeline, we can not really go w/ the v2.0.2 right now

[2021-12-14 10:40] hoelzer commented on #85
ah, yep that would be great, thx

[2021-12-14 10:42] hoelzer commented on #153
Hi @rob123king , alright, thanks for the feedback and srry that it will just not work with conda out of the box. But nice AWS and nf-tower run. Cheers

[2021-12-15 10:59] fischer-hub commented on #149
I actually just found an [info mapping file](https://busco-data.ezlab.org/v5/data/) to all the datasets that also contains the date from the dowload link, that might be handy if we decide to not rely on the autodownload of busco or for a setup option, see #102

[2021-12-16 22:03] Liyong-Zhang commented on #133
That's too bad.    I guess I have to use the v2.0.2 outside of the conda env.       Thank you for the update.

[2021-12-17 08:42] hoelzer commented on #133
Yes, I mean you could basically install all the dependencies on your won and then run RNAflow w/o specifying an "engine" (conda, docker, singularity) so the pipeline will just use whats available on your `$PATH`. Not sure if this will work though (untested).

I will leave this issue also open, maybe there is an conda update at some point

[2021-12-20 16:02] Liyong-Zhang commented on #133
Sounds good.  I will give it a try.    Thank you for the tips.

Alright, couldn't hurt.     I hope so, the last update was 8 months ago.

[2022-01-08 09:17] #145 closed

[2022-01-08 10:16] hoelzer opened #162 "Sortmerna can not deal with long reads"
[code]

Seems that SMR can not deal with reads longer 30kb which might happen for nanopore. Rare for transcriptome, but can. Maybe in case of `--nanopore` input we ignore errors for SMR... not the nicest solution but a quick fix

[2022-01-08 11:44] hoelzer opened #163 "Rattle ONT assembly cDNA vs dRNA"
At the moment:

[code]

which as I understand activates directRNA-Seq mode for Nanopore data. This is fine, but with Nanopore one can (and often does) also sequence cDNA, thus the RNA is first reverse transcribed into DNA and then sequenced. It seems, we should add a parameter for this to distinguish the default (cDNA) and dRNA and only for the latter activate `--rna` in `rattle`?

[2022-01-09 19:09] #150 closed

[2022-01-14 10:00] fischer-hub commented on #13
So I looked a little deeper into this and the prefix list actually only contains a subset of all species listed on ensembl. However I think we can just use the ensemble [REST API](https://rest.ensembl.org/documentation/info/lookup) to 'map' the ensemble IDs from the annotation file to their species name? We can then also just make one call with all the IDs at once.

About the base url from what I

[2022-01-29 12:56] #76 closed

[2022-01-29 12:58] #162 closed

[2022-01-29 16:35] #163 closed

[2022-01-31 08:50] #13 closed

[2022-02-01 08:06] #102 closed

[2022-02-14 07:50] #100 closed

[2022-02-14 08:56] #85 closed

[2022-02-17 07:55] fischer-hub commented on #10
@hoelzer Just to make sure I understand this correctly, for the UpSet plots we then are interested in the intersection of e.g. feature counts / expression above a certain threshold over the different contrasts? Or more the intersection of features in pathway groups? Or something else?

[2022-02-17 08:17] fischer-hub commented on #111
This is basically fixed with PR #166, since we get the biotype and ENS ID directly from the GTF file.

[2022-02-17 08:17] #111 closed

[2022-02-17 08:50] hoelzer commented on #10
Hi @fischer-hub !

Yes exactly the first one. So the idea would be that we select significant DEGs based on some default thresholds, for example adj-p-value < 0.05 and log2FC > 1 for each contrast. Now, lets say we have three contrasts:

a) Mock
b) Ebola-infected
c) Marburg-infected

and do all pairwise comparisons that yield a certain number `n` of DEGs:

a-vs-b, `n=50`
a-vs-c, `n=40`
b-vs-c, `n=

[2022-02-17 09:07] fischer-hub commented on #10
Ah okay! Great now its more clear to me, thx!

[2022-04-01 14:32] hoelzer opened #173 "Typo in README for single-end example CSV"
I think there is smt wrong. The README states:

and the example shows:

[code]

but should this not be

[code]

??

[2022-04-01 15:59] hoelzer commented on #173
another typo:

[2022-04-01 16:31] hoelzer commented on #173
... and in this context we could add some info regarding handling of multiple-mapped reads. Per default, we only count uniquely mapped reads via `featureCounts` but this can be adjusted if the user wants via

[code]

Here, it's important to also provide the -t and -g parameters bc/ only providing -M would overwrite them. It's basically fine, bc/ they are anyway default in `featureCounts`, but bett

[2022-04-05 18:54] hoelzer opened #176 "Strandedness"
Strandedness can be configured now via the input CSV file. However, it seems to be not overwritten when in addition the `--strand` parameter is used. The question is: is this an expected behavior? As a user, I would think that an explicit parameter will overwrite such settings. Or not? : )

Maybe it would be at least good to send a warning mssg to the terminal if the user defines `--strand` differ

[2022-04-13 13:49] klamkiew opened #177 "clean custom annotations from bad character"
Hello there,

I had to put my own annotations into RNAflow (some viruses, don't ask...) which had some genes and fields with characters that assumingly break DESeq2 (or R in general).

I removed `'`, `+` and `/` from all "gene_name" and "gene_id" fields of my annotation --> the DESeq2 module of your nextflow pipeline is at least able to load all files in question and performs the actual analysis.

[2022-04-14 20:43] kheinze opened #178 "parameter skip_read_preprocessing not supported"
Hi there,

I wanted to run the pipeline while skipping the preprocessing step. However, the RNAflow responds with "ERROR: Parameter(s) [skip_read_preprocessing] is/are not valid in the pipeline!" when I set  "--skip_read_preprocessing  true". I have tested it out with release versions 1.2.3 and 1.2.5, the error remains.

Is there a work-around for this problem or a new release version needed?

Bes

[2022-04-14 20:56] fischer-hub commented on #178
Hi @kheinze !
The skip_preprocessing feature was added after the last release, could you try to just pull the latest commit? That should definitely contain the feature!

[2022-04-19 08:00] fischer-hub commented on #176
I think if the user doesn't provide the `--strand` parameter it is assigned its default value from the nextflow.config file so the strand would either be what the user defined on the CL or the default value but never the value provided in the CSV. That was the reason for the current implementation. But I can try to find a workaround for this or, as you said at least print a warning if the CSV defi

[2022-04-19 08:10] klamkiew commented on #177
Sure thing; I also think this can be fixed with a `str.translate()` command in the `prepare_annotation.nf` module. If I find some time today/tomorrow, I can propose a PR :)

`HCV_JC1	collaboration	gene	1	340	.	+	.	gene_id " 5'UTR";
HCV_JC1	collaboration	region	341	913	.	+	.	gene_id "Core";
HCV_JC1	collaboration	gene	420	716	.	+	.	gene_id "core+1/L";
HCV_JC1	collaboration	gene	597	716	.	+	.	gene_id

[2022-04-19 08:11] fischer-hub commented on #173
Am I understanding you right you want the source labels to be removed in the CSV example because they are optional? Because then we could also remove the strandedness mode, that is also (kind of) optional right? Well at least the pipeline will start without the parameter set in neither the CSV or the CL.

[2022-04-19 08:13] fischer-hub commented on #177
Great! Thanks a lot, otherwise I'll try to fix this sometime this week.

[2022-04-22 15:29] pkerrwall opened #179 "Error after quick installation - ResolvePackageNotFound: libgcc-ng[version='>=9.4.0']"
I have installed rnaflow on ubuntu.  After I installed nextflow and conda, I try to run the test with the following command:
nextflow run ~/software/rnaflow -profile test,conda,local

This is the output with the error that I am getting:
N E X T F L O W  ~  version 21.10.6
Launching `/home/wallke/software/rnaflow/main.nf` [golden_wescoff] - revision: 4a512a6ad6

Profile: test,conda,local

Current U

[2022-04-24 14:24] hoelzer commented on #179
Hi @pkerrwall ! Thanks for your interest in our pipeline!

First, can you please try to use the latest release of RNAflow and let `nextflow` install the pipeline?

[code]

If this does not work and again causes

[code]

there seems to be an issue in resolving the conda environment for `fastp` on your system. If so, does this cause the same error?

[code]

If this is also the case, can you switch t

[2022-04-24 14:52] hoelzer commented on #173
@fischer-hub No the labels should stay. The thing is, that in the README we explain that the `Source` label is needed but can be empty. But then the example shows a non-empty example regarding the `Source` column. So I suggest to change

[code]

into

[code]

However, the point about the strandness you raise is also important and as already discussed here https://github.com/hoelzer-lab/rnaflow/iss

[2022-04-24 14:58] hoelzer commented on #176
@fischer-hub yes that would be good. As it is right now it is misleading bc/ the user can define

* the strandedness in the CSV
* via CL
* via nextflow.config (default)

but then it might be not clear what has priority and is actually used. I suggest that from high to low priority we use

* CL `--strand`
* CSV definition
* nextflow.config default

If there is a difference between CL and CSV a warn

[2022-04-27 19:20] sttongjai opened #182 "Problem: Execute a test run has been doing great, but get stuck at deseq2 forever."
Hello,

I have executed a test run which has been doing great. However, when it's finally reach a deseq2 step, the entire process appears to get stuck forever.

In the result folder, only 07-DifferentialExpression folder has not shown up. I also notice the following message shows up.

"Exception in thread "Thread-12" groovy.lang.GroovyRuntimeException: exception while reading process stream

[2022-04-27 20:55] sttongjai commented on #182
Executed the following command line, and problem solved.

$ nextflow run -r 1.3.0 hoelzer-lab/rnaflow -profile test,conda,local

See the following for the entire report.

(nextflow) sttongjai@STTongjai:~$ nextflow pull hoelzer-lab/rnaflow
Checking hoelzer-lab/rnaflow ...
 Already-up-to-date - revision: e7d8a96067 [master]
(nextflow) sttongjai@STTongjai:~$ nextflow run -r 1.3.0 hoelzer-lab/rnaflow

[2022-04-28 08:18] fischer-hub opened #183 "MultiQC conda environment does not contain necessary interpreter"
When running on a machine that doesn't have exactly the right python version installed multiQC sometimes crashes with
[code]
This happens when running locally with `conda`. Since the docker container is built from the environment it probably happens there too but not tested.

EDIT: changing the multiqc.yaml to:
[code]
(just adding the python version explicitly)
fixed the issue, PR follows

[2022-04-28 08:21] hoelzer commented on #183
Great thx, I can also check and update the container accordingly!

[2022-04-28 08:22] hoelzer commented on #183
btw there is already multiqc v.1.12 - also update the conda env?

https://anaconda.org/bioconda/multiqc

[2022-04-28 08:23] hoelzer commented on #183
@MarieLataretu also good to know for any multiQC container build via the rki-mf1 repo

[2022-04-28 08:23] fischer-hub commented on #183
good idea, will update in the PR too then :)

[2022-04-28 08:29] fischer-hub commented on #182
Thanks for reporting this issue @sttongjai  !

Unfortunately, I was not able to recreate the issue. Do you still run into this issue or does it work now with just providing the release version for you?

[2022-04-28 08:45] hoelzer commented on #183
new container w/ py1.10 also:

docker pull nanozoo/multiqc:1.12--4f89fda

[2022-04-28 08:47] fischer-hub commented on #183
Python 1.10 or 3.10? :D

[2022-04-28 08:48] sttongjai commented on #182
The problem has been fixed. I used the following command line, and it solved the problem.

$ nextflow run -r 1.3.0 hoelzer-lab/rnaflow -profile test,conda,local

I guess that I have to add "revision: 1.3.0 (-r 1.3.0)" in the command line as well.

[2022-04-28 08:48] hoelzer commented on #183
hehe :D typo - py3.10

[2022-04-28 08:50] fischer-hub commented on #182
Great, then I will close this issue!
Still weird because in the log you posted it says the same commit was used in both runs.
Anyway, glad it is running for you now!

[2022-04-28 08:50] #182 closed

[2022-04-28 08:57] #183 closed

[2022-04-28 14:47] sttongjai opened #185 "Error: ResolvePackageNotFound libgcc-ng, libstdcxx-ng, and isa-l"
Hello,

I have been trying to repeat a test run with a stable release 1.3.0. However, I encounter several errors regarding "package not found". Mostly, they are libgcc-ng, libstdcxx-ng, and isa-l. I kept installing these 3 packages but the problem still persists, i.e., unable to run the program. Could you please look into this problem and let me know how to fix it.

Also, if you suggest switching

[2022-04-28 20:59] sttongjai opened #186 "Error report: Error executing process > 'preprocess_illumina:fastp (MAQCB_rep1)'"
Hello,

I tried a test run and encounterd an error when it reached "process > preprocess_illumina:fastp (MAQCB_rep1)". The cause of this error was that "Process `preprocess_illumina:fastp (MAQCB_rep1)` terminated with an error exit status (137)". I am wondering if you could solve this problem. Please see the entire script that I ran below.

Thank you very much,

Siripong

#########################

[2022-04-29 04:10] Gavin098 opened #187 "Error executing process > 'expression_reference_based:deseq2 (1)'"
Hello @hoelzer
I have executed a test run which has been doing great. However, when running on the machine,I have some problems.
Please see the following for the entire result shown in the shell.
[code]
Could you please let me know what's the problem and how to fix it.

Thank you very much.

Gavin

[2022-04-29 08:02] fischer-hub commented on #187
Hi @Gavin098, thanks for reporting this issue!

Could you provide the exact command that you used when running into this error? Also there is a log file of the `DESeq2` process in either `results/07-DifferentialExpression/DESeq2/deseq2.Rout` or in your work directory in `/home/ganjunwei/test_rnaflow4/work/b0/b89fa6a1e6b0b1761e1a4d9d75e20c/deseq2.Rout` if you can't find it in the results directory.

[2022-04-29 08:17] fischer-hub commented on #185
Hey @sttongjai !
What system are you working on?
Installing the packages manually might not work because they wont necessarily be accessible when the `fastp` conda environment is active. They would have to be installed into the environment, which seems to fail in your case. It seems to me some packages are not available for your system. If that is the case and you are working on a local machine an

[2022-05-06 01:59] Gavin098 commented on #187
Ok no problem, thanks for your feedback. My command is as following:

$ nextflow run ../test_rnaflow/rnaflow --reads input.csv --genome fastas.csv --annotation gtfs.csv --mode paired --cores 30 --condaCacheDir ../test_rnaflow/conda --permanentCacheDir ../test_rnaflow/nextflow-autodownload-databases --skip_sortmerna -profile local,conda -resume

I opened the deseq2.Rout and found that it was R that

[2022-05-06 07:37] fischer-hub commented on #187
Thanks, that is already very helpful!

So it seems like the R package `Reportingtools` was not installed successfully to the `DESeq2` conda environment and now it is not available in the script. You could try to delete the `../test_rnaflow/conda/deseq2*` environment folder manually and see if `Reportingtools` will be correctly installed the next time. Sometimes conda environments can get corrupted

[2022-05-11 11:08] Gavin098 commented on #187
Thank you for the guidance！
Based on your suggestion, I rerun the program```nextflow run rnaflow --reads input.csv --genome fastas.csv --annotation gtfs.csv --cores 40 -profile local,conda --output result2```.But a new problem arose and I opened the deseq2.Rout
I don't  understand how to set the -r parameter, and I'd appreciate it if you could tell me

[code]

[2022-05-11 11:27] fischer-hub commented on #187
Hi @Gavin098, great! It looks like `DESeq2` is running normally now.
What error do you see on the terminal when the pipeline crashes?

In the project directory (where you can also find the `main.nf` and `README.md` files) there should be a file called `.nextflow.log`. If you could attach that file we could see what caused the crash. The `deseq2.Rout` file is only the log file of the `deseq2` proce

[2022-05-11 15:28] Gavin098 commented on #187
ok, thanks for your feedback
1: I opened the project directory,but did not find ```.nextflow.log```
<img width="1053" alt="image" src="https://user-images.githubusercontent.com/82710258/167877849-88a9fba7-feca-475c-b127-92730329478f.png">

2: When I add ```-r 1.3.0``` the following is displayed, what's the problem?
[code]
3: Please see the following for the entire result shown in the shell.
[code]

[2022-05-12 06:30] fischer-hub commented on #187
Hi @Gavin098 !

1. That is really weird, the log files should usually be in the project directory, but the output would be similar to the one on the terminal so don't worry too much about it I would say.

2.  Yes the release parameter `-r` is used when one pulls the pipeline via nextflow and not manually like so:
[code]
Like that you can have different versions of the same pipeline on your machine

[2022-05-13 07:14] Gavin098 commented on #187
Sorry I didn't provide full information before.
It seems that there is still a problem with R, and I tried to update the software in the conda environment to run it again, but still did not solve the problem
```nextflow run rnaflow --reads input.csv --genome fastas.csv --annotation gtfs.csv --cores 40 --permanentCacheDir ../test_rnaflow/nextflow-autodownload-databases -profile local,conda```

[cod

[2022-05-13 08:04] fischer-hub commented on #187
Hey @Gavin098 ,

According to the new error message from your `deseq2.Rout` log file, there seems to be an issue with your annotation file(s). The `id2name` dataframe is supposed to contain gene IDs, gene names and biotypes extracted from the annotation files you provided via the `--annotation` flag. However, the dataframe seems to be empty, resulting in `no lines available in input`.
[code]

I wo

[2022-05-14 02:30] Gavin098 commented on #187
thanks for your feedback!
I tried two different annotation files and the problem still arises. but ```annotation.id2details```and```annotation.gene.gtf``` are still empty.
I don't understand whether I set these two files correctly or if there is a error with my annotation files.
fastas.csv: ```/home/public/moso_genome_V3/contig/genome.fa```
gtfs.csv: ```/home/public/moso_genome_V3/contig/Moso_V3.B

[2022-05-14 10:20] fischer-hub commented on #187
Hi @Gavin098 ,

The `fasta.csv` and `gtfs.csv` seem to be correct to me if the paths are correct.
Also the `.gtf` format seems to be ok. However, I found a bug in the code thanks to your issue! Your `.gtf` file seems to contain no features of type `gene` (feature type is listed in column 3 of the `.gtf` file). However, the pipeline was looking for features of type `gene` in the `.gtf` file. Usuall

[2022-05-22 05:14] Gavin098 commented on #187
thanks for your help.
I have succeeded in getting the results.
One last question, I want to ask about the meaning of the file name:
```mostVar, Counts_row-scaled, log2FC_row-scaled, log2FCpcutoff0-01, log2FCpcutoff0-05```
<img width="452" alt="image" src="https://user-images.githubusercontent.com/82710258/169679741-c1ff5b0d-aa17-4c2e-87d6-cd109ba25023.png">
Have a nice weekend!

[2022-05-22 17:23] hoelzer commented on #187
Hey @Gavin098 glad it finally worked! And thx @fischer-hub for the support!

The different file names correspond to different filter and normalization options for plotting expression data on a heatmap.

* mostVarX
Plot expression values for the top X most variant genes. The most variant genes are not necessarily the ones with the highest and significant fold change for example.
* Counts_row-scaled

[2022-05-23 03:49] Gavin098 commented on #187
Well, thank you for your time

[2022-05-23 03:49] #187 closed

[2022-05-31 13:05] fischer-hub commented on #177
Hi @klamkiew ,

I think I managed to narrow down the issue. The single quote was interpreted as a string delimiter while opening the annotation file but as part of the string while loading the file object later on. This then lead to different gene names in some data frames and prevented the successful merging of these data frames over the gene names. Anyway I hope this is now fixed, so feel free t

[2022-06-13 12:56] AGunnell77 opened #190 "Process `expression_reference_based:tpm_filter` input file name collision"
Hi
I have come across this issue while running the pipeline:

Error executing process > 'expression_reference_based:tpm_filter'

Caused by:
  Process `expression_reference_based:tpm_filter` input file name collision -- There are multiple input files for each of the following file names: null.counts.tsv

[2022-06-13 13:39] fischer-hub commented on #190
Hi @AGunnell77, thanks for reporting this issue!

Can you post the full command you used when running into the error and attach the full log (`.nextflow.log` in the project directory) file please?

Thanks in advance!

[2022-06-13 16:04] AGunnell77 commented on #190
HI is this OK? Not sure how to use the project directory.

nextflow run hoelzer-lab/rnaflow --reads ~/path/RNAflow_sample_sheet.csv --autodownload hsa --pathway hsa --strand 2 -with-tower  --condaCacheDir ~/path/condacache/ --skip_sortmerna -resume

[.nextflow.log.4.txt](https://github.com/hoelzer-lab/rnaflow/files/8892639/default.nextflow.log.4.txt)

[2022-06-14 07:33] fischer-hub commented on #190
Thank you @AGunnell77, that is already very helpful!

According to the log file your sample names resolve to `null` instead of the real sample name. Would you mind attaching your `RNAflow_sample_sheet.csv `, or maybe just the first few lines? Maybe the issue is already there and the pipeline doesn't read the sample names in correctly :)

Cheers!

[2022-06-14 08:52] fischer-hub commented on #190
Many thanks @AGunnell77 !
It seems the header of your input.csv file is slightly incorrect, your header is:
[code]
but the pipeline expects a header of this kind:
[code]
The column names in the input.csv are case sensitive, so `sample` will not be recognized but `Sample` will.
Maybe we should change this to accept both lowercase and uppercase columnnames :)

Just correct the lowercase columnnames

[2022-06-14 09:05] AGunnell77 commented on #190
Many Thanks! I'll give it a go.
Andrea

[2022-06-15 21:22] AGunnell77 commented on #190
Hi, the change in the sample sheet got me a bit further but the process then stopped with an error report as attached (error_report_nauseous_wilson). I tried resuming but the deseq2 stage is still not proceeding (nextflowlogserene_galileo)
[nextflowlogserene_galileo.txt](https://github.com/hoelzer-lab/rnaflow/files/8913229/nextflowlogserene_galileo.txt)
[error_report_nauseous_wilson.txt](https://g

[2022-06-16 08:39] AGunnell77 commented on #190
Here is the file. It looks like there are no counts due to it not being recognised as paired-end data and excluding all the paired ends?
[deseq2.Rout.txt](https://github.com/hoelzer-lab/rnaflow/files/8917122/deseq2.Rout.txt)

Status	PARENTAL_rep2.sorted.bam
Assigned	0
Unassigned_Unmapped	3356569
Unassigned_Read_Type	255871819
Unassigned_Singleton	0
Unassigned_MappingQuality	0
Unassigned_Chimera	0

[2022-06-16 08:59] fischer-hub commented on #190
@AGunnell77 that looks odd indeed. However, the first log file `.nextflow.log4` suggested that the pipeline detected the read mode correctly as paired-end. Can you check if the `.bam` files really contain any alignments? Im no quite sure where the log file is from that you posted above?

[2022-06-16 09:42] AGunnell77 commented on #190
HI they were from here:
/work/08/523f900061b92f7d277e0692829ce0/.command.log
/work/08/523f900061b92f7d277e0692829ce0/PARENTAL_rep2.counts.tsv.summary
I had this previously prior to running into the input file name collision.
When I added a  -p to this command.sh here (see below) and ran the command within this work directory it then showed all the reads alligned in the feature counts summary... bu

[2022-06-16 14:07] AGunnell77 commented on #190
HI
I started from scratch after changing the input file. All the work as results file in this directory were deleted. I resumed once at the point of the deseq2 error in case it was a glitch but that was after the input file was corrected.

[2022-06-16 21:40] AGunnell77 commented on #190
HI , so I manually added the -p and it has all aligned OK but I now have this error:
[deseq2.R.out_2.txt](https://github.com/hoelzer-lab/rnaflow/files/8920621/deseq2.R.out_2.txt)
any ideas?
Thanks so much for all your help so far.
Andrea

[2022-06-17 11:49] fischer-hub commented on #190
Hi @AGunnell77, great news that deseq2 is running now!

From the log file you attached it seems that your disk quota is full
[code]
and that is why the script crashes. Maybe you can delete some files to free up some space in your home directory and try again?

[2022-06-17 11:55] hoelzer commented on #190
... or dont start the pipeline in your home directory! Or point the work directory (`-w`) and the results folder (`--output`) to another path w/ enough disk space.

(thx @fischer-hub for the troubleshooting!)

[2022-06-20 07:52] AGunnell77 commented on #190
Hmmm, that's strange. I'm not running from my home directory and I have my cache set elsewhere too. I also added the -w and --output elsewhere on the wrapper but for this stage it still seemed to want to use the home directory as when I cleared space there it has run.
Anyway. It's all completed successfully now. Thank you so much for all your help! Andrea

[2022-06-20 07:59] fischer-hub commented on #190
Great that it ran through now!
Yes, the `biomaRt` R package has a cache directory that apparently is set to `/home` by default so this issue was independent of the output and work directories!

Best wishes!

[2022-06-20 07:59] #190 closed

[2022-06-20 19:00] #94 closed

[2022-06-20 19:02] #16 closed

[2022-06-20 19:24] #10 closed

[2022-06-20 19:24] #86 closed

[2022-06-20 19:26] #173 closed

[2022-06-20 19:29] #177 closed

[2022-06-20 20:09] hoelzer opened #191 "Error: expression_reference_based:webgestalt (MAQCA_vs_MAQCB)"
Hi @fischer-hub !

I'm finally checking and approving the PRs ;)

However, I have in the current `master` branch now an error running the test command:

[code]

which fails in this step:

[code]

[code]

I also wonder a bit about the content of the work dir:

[code]

because I would expect also the actual script from the `bin/webgestalt.R` folder here?

Can you please also give it a try? thx!

[2022-07-03 17:22] zhangwenda0518 opened #192 "A question that no 07-DifferentialExpression generated ！"
Dear author, thank you for your great tool.
I'm trying to use rna-flow for my non-model plant species. I first conducted sample data and succesfully got the results. In the same environment, I ran to the end, but **thereis no 07-DifferentialExpression generated !**，This process seems to be skipped automatically.Could you please give me some advice?  Thanks！

[-        ] process > expression_refere

[2022-07-03 17:31] fischer-hub commented on #192
Hi @zahngwenda05 ! Thanks for reporting this issue, can you please attach the log file ( '.nextflow.log' ) of the run where you ran into the issue?
That will help with understanding what is going on!

[2022-07-03 17:42] zahngwenda05 commented on #192
[.nextflow.log](https://github.com/hoelzer-lab/rnaflow/files/9035235/default.nextflow.log)

Thank you for your quick reply. the attached is my running log.

[2022-07-04 06:50] hoelzer commented on #192
@zahngwenda05 thanks for using the pipeline! Am I also right that you only have two samples? And you want to compare the two to find DEGs? If so, we can also not recommend that from a technical point of view. For such kind of differential gene expression analyses you should have _at least_ three biological replicates per condition. In your case that might require three samples for leaf and three f

[2022-07-04 07:12] zahngwenda05 commented on #192
Thank you for your suggestion, my previous input has only two sets of data, and more data are being tested. If there is a result, I will give feedback as soon as possible.

[2022-07-04 07:38] hoelzer commented on #192
Ok thanks! Maybe you can just "simulate" more samples by reusing the same files and thus artificially generate triplicates. Then run the pipeline again (attention, make the file names uniq!) And see if you get the full output. By that, you are prepared when more data comes

[2022-07-05 05:26] zahngwenda05 commented on #192
Thank you for waiting. I used more data, and the program continued to run the deseq2 step, but I encountered other errors, some of which I solved, while others I didn't find a solution.Could you please give me some suggestion!,
Very Thanks

my data input.csv  （There were 6 samples from root and leaf tissues .）
`Sample,R1,R2,Condition,Source,Strandedness
CK-L1,00.CleanData/XP-CK-L1/XP-CK-L1_1.clean

[2022-07-05 12:11] fischer-hub commented on #192
Hi @zahngwenda05 !
Great that u solved these problems already, the error you get is really unusual and to me it seems that there might be just some corrupted temporary files crashing the script.
Did you run the pipeline on the `fix_anno_feature_type` branch from scratch or did you use the `-resume` flag when you got this error?

My first suggestion would be to run the pipeline again from scratch o

[2022-07-05 16:06] zahngwenda05 commented on #192
The first time I saw your message ，I tried to run it again, but it still got an error in this step.I'm sorry to trouble you, but I don't know much about R program，Hope it is just my problem.
now，i am rerun and redownload ，I hope there will be a good result tomorrow morning.

[2022-07-05 16:16] fischer-hub commented on #192
No problem @zahngwenda05 ! We'll figure it out, if it still fails in the deseq2 step, please attach the deseq2.Rout log file again :)

[2022-07-18 13:04] fischer-hub commented on #191
Hi @hoelzer, yes I ran into the same issue. Some channel order was wrong resulting in R trying to execute the `ens_species_mapping.tsv` file. I created a PR with a [fix](https://github.com/hoelzer-lab/rnaflow/pull/193)!

[2022-08-08 17:32] #191 closed

[2022-08-08 18:01] zhangwenda0518 commented on #192
Best Regards，Long time no see !

I thought the question maybe is about the input file  **input.csv** of the  **Source lable**

I get the result on another data successfully！when I keep **Source lable** blank ,like this
[code]
Do you think my setting is right? I have three experimental groups. I set my Condition as above. Three different samples are taken from the same tissue so the Condition remai

[2022-08-09 07:20] fischer-hub commented on #192
Hi @zhangwenda0518 !
Do I understand correctly, the pipeline runs without any issue if you leave the `source lable` column in the input.csv file empty?

For your second question, the pipeline should never actually write to /tmp. However, it is possible that `singularity` wrote to this directory. Maybe you can have a look and safely delete some files in /tmp. Otherwise you can try to change the def

[2022-08-09 08:17] zhangwenda0518 commented on #192
thanks!
yes , it success when I leave the source lable column in the input.csv file empty !
Actually, I haven't understood this meaning yet,

for the second  ，
`export SINGULARITY_TMPDIR=/home/zwd/tmp
singularity cache clean --all`

It doesn't seem to work, but it still reports that there is not enough space in /tmp.

however ,I use **--cores 4 --max_cores 4**   you say in
https://github.com/hoelz

[2022-08-09 10:38] hoelzer commented on #192
Hey both,

Okay, that's odd why it does only run when the column is empty...

The meaning of that column is explained here: https://github.com/hoelzer-lab/rnaflow

In short:

So basically the idea is that when defining the DESeq2 object one can more precisely say which samples might come from the same origin/source/patient which might help in normalization.

You can also have a closer look here wh

[2022-08-09 12:46] #176 closed

[2022-08-16 07:13] danchubb opened #197 "featurecounts strandedness issue"
HI,

I have a reverse stranded RNAseq prep. For some reason when I run featurecounts with -s 2 it finds no reads assigned to genes. It will only give results when -s 0 which is unstranded. I've checked the prep and ran rseqc which confirms the strandedness. Do you have any ideas why this might happen? I've checked the work directory and reran and get the same results. I noticed that hisat 2 was no

[2022-08-16 07:16] fischer-hub commented on #197
Hey @danchubb !

Thanks for reporting this issue, are you using single-end or paired-end reads? Also which `rnaflow` version and command did you use when this happened?

[2022-08-16 07:24] danchubb commented on #197
Thanks for the quick response!

I used this version that I forked recently https://github.com/danchubb/rnaflow . I needed to add a change which compressed the dseq2 image directory as it was being made as it was filling up our file system.

This is the command and first bit from the log file (I have ran it with and without the additional hisat2 param:

nextflow run danchubb/rnaflow -profile slurm,

[2022-08-16 07:30] fischer-hub commented on #197
Alright @danchubb, can you try changing `meta.paired` in [this](https://github.com/danchubb/rnaflow/blob/master/modules/featurecounts.nf#L22) line to `meta.paired_end`? There was a bug in the `featurecounts` process in combination with paire-end reads in the previous version and you probably just forked that as well! Alternatively you could fork `rnaflow` again with the recently released version.

[2022-08-16 07:46] danchubb commented on #197
Thanks, I'll give it a try!

From my read, that will add the -pBP.

I've just gone in to the work dir and added that to do a quick testy and with -s 2 I do indeed now get reads mapped to genes :)

[code]
It looks like those params will add the following:

 -p                  If specified, fragments (or templates) will be counted
                      instead of reads. This option is only applicab

[2022-08-16 07:58] fischer-hub commented on #197
Nice @danchubb ! Let hope its finishing without further issues now!

The -pBP parameters are not connected to the strandedness. The strandedness is handed to `featurecounts` via the -s parameter. What was happening here was, that the pipeline ran `featurecounts` in single-end mode, even when paired-end reads were detected. Therefore, `featurecounts` would discard all paired-end reads, only looking

[2022-08-16 08:01] danchubb commented on #197
Fantastic, thanks that makes sense!

Do you know if there is any benefit to adding the strandedness to the hisat2 paramaters? It's not passed on by default in RNAflow so I assume it's not necessary for the processes in RNAflow?

Thanks so much for the helpful response.

Dan

[2022-08-16 08:08] fischer-hub commented on #197
I am actually not sure about that! Maybe @hoelzer can help?

Glad everything works now!

[2022-08-16 08:43] hoelzer commented on #197
Hey @danchubb thx for the interest in the pipeline and the bug report!

I'm glad that it's running now, we just lately discovered and fixed this issue with the paired-end read input not properly recognized as paired-end.

One note also about the `pPB`: the default setting using these parameters is relatively restrictive. For example, per default, we also only count reads that are uniquely mapped.

[2022-08-16 08:53] danchubb commented on #197
Thanks @hoelzer  that's good to know.

The pipeline is ticking along nicely now, thanks for all the help :)

[2022-08-16 14:02] #197 closed

[2022-08-16 14:07] danchubb opened #198 "possible deseq container error"
Hi,

For the deseq2 process I get the following error in my rout file:

"System has not been booted with systemd as init system (PID 1). Can't operate"

I can't see any affect of this error as the process completes seemingly with all the output there.

I'm guessing the container was build without systemd - or something similar. Is this an error you've seen before and I should just ignore it?

Than

[2022-08-16 14:17] hoelzer commented on #198
Hey, no I did not see this error before (but maybe it was there but not spotted due to no effect).

It also seems that one need to generate a container from a Docker image in a specific way to avoid this kind of error: https://stackoverflow.com/questions/59466250/docker-system-has-not-been-booted-with-systemd-as-init-system

But we let simply Nextflow take care of starting containers.

So I think

[2022-08-16 14:26] danchubb commented on #198
Thanks @hoelzer I'll just ignore it then :)

Cheers,

[2022-08-16 14:26] #198 closed

[2022-08-16 15:19] shalinisingh65 opened #199 "directionality of the comparison from Deseq2 output"
Hello,

Please can I ask about the directionality of the comparison from Deseq2 output. The following text is there but not very clear to me, X_vs_Y does not corelate to condition B and A:

"For each comparison (specified with --deg or, per default, all possible pairwise comparisons in one direction), a new folder X_vs_Y is created. This also describes the direction of the comparison, e.g. the log

[2022-08-16 15:49] hoelzer commented on #199
Hi! Oh, good eye. I think this should be

@MarieLataretu @fischer-hub can you confirm that? Because we switched the comparison at some point, I'm not 100% sure. When clarified, we can update the README accordingly to make this clear. Thanks!

[2022-08-18 09:56] fischer-hub commented on #199
I think [this](https://github.com/hoelzer-lab/rnaflow/pull/156) is when we changed this? But from the description in the PR I would understand that a log2FoldChange of -2 for gene A would tell you that this gene is 2-fold downregulated with condition X. The gene A is lower expressed in condition X?

[code]
for infected_vs_mock

But not sure..

[2022-08-21 10:27] hoelzer commented on #199
@fischer-hub yes! I think you're actually right. But still not 100% w/o checking... I just looked into some recent data I calculated.

Pairwise comparison between `CBS14_P2_vs_SBY92_P1` (that's the folder name as well, so `X = CBS14_P2` and `Y = SBY92_P1` in this example)

Here, a gene `A` was found as highly differential expressed w/ a log2 FC of 10.14.

Now, the question is: is the gene high exp

[2022-08-21 14:02] zhangwenda0518 commented on #192
a new errors  ,could you telll me how to solve it !

Process `expression_reference_based:deseq2 (1)` terminated with an error exit status (1)

`error calling combine function:
<simpleError in data.frame(..., check.names = FALSE): arguments imply differing number of rows: 13208, 12958>
Error in { :
  task 2 failed - "NA/NaN/Inf in foreign function call (arg 10)"
Calls: %dopar% -> <Anonymous>
Execut

[2022-08-22 08:19] fischer-hub commented on #199
@hoelzer yes, seems right! I'll update the README :)

[2022-08-22 08:23] hoelzer commented on #199
Perfect, thx!

[2022-09-20 15:46] zhangwenda0518 commented on #198
the same errors  during deseq2 process  and exit false
[code]
could you give me some advise

[2022-09-20 21:31] hoelzer commented on #198
Hey @zhangwenda0518 does the pipeline break? Or do you just get this warning message but the output is there?

[2022-09-21 02:14] zhangwenda0518 commented on #198
yes，the pipeline breaked！there is no 07 result after then。
I try to use docker and singularity ，the same errors

command
[code]
[deseq2.Rout.txt](https://github.com/hoelzer-lab/rnaflow/files/9612385/deseq2.Rout.txt)

[2022-10-14 14:13] MarieLataretu commented on #198
Hey @zhangwenda0518, are you using the pipeline on a Windows machine via the Linus sub system?

[2022-10-16 14:19] hoelzer commented on #198
Just adding here: I'm running the test profile of the pipeline on a fresh MaxBook Air w/ M2 chip and everything runs smooth until the DESeq2 process:

[code]

This could be also some Docker-specific problem on the M2 chip technology - not sure. I will also try running the conda profile instead... let's see

[2022-10-16 14:23] hoelzer opened #201 "Running test profile w/ conda or mamba fails"
While this works:

[code]

this fails:

[code]

It seems that no profile is activated then and thus the tools can not be found.

(running on Mac M2)

[2022-10-16 15:43] hoelzer commented on #201
This seems to be a problem of my local configuration

[2022-10-16 15:43] #201 closed